#ltf_banner span,

#rgt_banner span {

	-moz-border-radius:    6px;

	-webkit-border-radius: 6px;

	border-radius: 		   6px;

	-khtml-border-radius:  6px;

	position:relative;

	behavior:url(PIE.htc);

}

.ltf_content,

.widget_area {

	background:#fff;

	-moz-border-radius:    6px;

	-webkit-border-radius: 6px;

	border-radius: 		   6px;

	-khtml-border-radius:  6px;

	-moz-box-shadow:  	0px 1px 1px 1px #f1f1f1;

  	-webkit-box-shadow: 0px 1px 1px 1px #f1f1f1;

 	box-shadow:         0px 1px 1px 1px #f1f1f1;

	position:relative;

	behavior:url(PIE.htc);

}

.ltf_content h2,

.widget_area h2, .widget_area h1 {

	border-radius: 6px 6px 0 0;

 	background: url(../images/content_header_bg.jpg) repeat-x;

 	position:relative;

	behavior:url(PIE.htc);

}

.inner_ltf_content {

	background:#fff;

	border-radius: 0px 0px 6px 6px;

	-moz-box-shadow:  	0px 1px 0px 0px #f1f1f1;

  	-webkit-box-shadow: 0px 1px 0px 0px #f1f1f1;

 	box-shadow:         0px 1px 0px 0px #f1f1f1;

	position:relative;

	behavior:url(PIE.htc);

}

#inner_content {

	background:#ebebeb;

	border-radius: 0px 6px 6px 6px;

	-moz-box-shadow:  	0px 1px 0px 0px #f1f1f1;

  	-webkit-box-shadow: 0px 1px 0px 0px #f1f1f1;

 	box-shadow:         0px 1px 0px 0px #f1f1f1;

	position:relative;

	behavior:url(PIE.htc);

}

#inner_widget_area .inner_widget h2 {

	border-radius: 0px 6px 0 0;

 	background: url(../images/content_header_bg.jpg) repeat-x;

 	position:relative;

	behavior:url(PIE.htc);

}

#inner_content_wrapper h1  {

	background:#fff;

	border-radius:6px 6px 0px 0px;

	position:relative;

	behavior:url(PIE.htc);

}




.feature  a {
	background:url(../images/homelink_arrow.jpg) no-repeat right 5px;
}




/*
Default style for WP-PageNavi plugin

http://wordpress.org/extend/plugins/wp-pagenavi/
*/

.wp-pagenavi {
	clear: both;
}

.wp-pagenavi a, .wp-pagenavi span {
	text-decoration: none;
	border: 1px solid #BFBFBF;
	padding: 3px 5px;
	margin: 2px;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
	border-color: #000;
}

.wp-pagenavi span.current {
	font-weight: bold;
}