@media (min-width: 768px) and (max-width: 1023px) {
#wrapper {
	width:100%;
	overflow:hidden;
}
/*----------------------*/
/*     Header           */
/*----------------------*/
#header_area {
	width:100%;
	overflow:hidden;
}
#header {
	width:660px;
	margin: 0 auto;
	position:relative;
	height: auto;
}
#top_header {
	width:100%;
	padding-top:6px;
	overflow:hidden;
	height:auto;
}
.logo {
	float:none;
	width:100%;
	overflow:hidden;
}
.logo img {
	max-width:350px;
	height:auto;
}
.top_header_text {
	float: none;
	width:646px;
	margin:10px 0;
	padding:6px 12px 7px 12px;
	background:#f7f7f7;
}
.top_header_text p {
	color:#717171;
	font-size:12px;
	line-height:17px;
}
/*----------------------*/
/*     Menu             */
/*----------------------*/
#menu_bg,
#menu_ltf,
#menu_rgt {
	width:660px !important;
	height:76px;
	background:#359937;
    border-radius: 5px 5px 5px 5px;
	margin:0;
}
#menu {
	width:100%;
	height:76px;
	float: none;
	padding:0 10px;
	overflow:hidden;
	margin:0 0 20px -5px;
}
#menu-main-menu,
#menu ul {
	display:none;
}
.tinynav { display: block !important; }
.tinynav  {
	cursor: pointer;
	font-size: 14px;
	height: 47px;
	padding: 8px;
	margin:0px 0 0 -5px;
	width:660px;
	clear:both;
	overflow:hidden;
	background:#fff;
}
#menu input[type="text"], #menu input[type="password"], #menu input[type="email"], #menu textarea, select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 5px solid #393431;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 1px 0 rgba(180, 180, 180, 0.1);
    color: #4f4739;
    display: block;
	font-size:13px;
    margin: 0 0 20px;
    max-width: 100%;
    outline: medium none;
    padding: 9px;
}
/*----------------------*/
/*     Inner page       */
/*----------------------*/
.inner_wrapper {
	background: none;
}
.breadcrumb {
    color: #FFFFFF;
    float: left;
    font-size: 13px;
    font-weight: normal;
    left: 20px;
    position: absolute;
    top: 183px !important;/*top: 183px !important;*/
    width: 660px;
    z-index: 999;
    line-height: 20px;
}
/*----------------------*/
/*     Banner           */
/*----------------------*/
#banner_area {
	width:100%;
	height: auto !important;
}
#banner {
	width:100%;
	margin:0 auto;
	height: auto !important;
	padding-top:20px;
	overflow:hidden;
	background:#47B74B;
}
#ltf_banner {
	float:none;
	width:480px;
	margin:0 auto;
	height:278px;
	padding-left: 0;
	overflow:hidden;
	background-position:right bottom;
	margin-bottom:20px;
}
#rgt_banner {
	width:480px;
	height: auto !important;
	float:none;
	padding-left:14px;
	background-position:right bottom !important;
	margin:0 auto;
	margin-top:40px;
}
#ltf_banner h2 {
	color:#fff;
	font-weight:bold;
	padding-bottom:29px;
	text-align:left !important;
}
#ltf_banner h2 small {
	padding-left:0;
}
#rgt_banner h2 {
	color:#fff;
	font-weight:bold;
	padding-bottom:29px;
	text-align:left !important;
}
#rgt_banner h2 small {
	padding-left:0;
}

/*----------------------*/
/*     Feature          */
/*----------------------*/
#feature_area_wrapper {
	width:100%;
	padding:0 10px 15px 10px;
	margin:0 auto;
	background:#ededed ;
	overflow:hidden;
}
#feature_area {
	width:660px;
	padding:0;
	margin:0 auto;
}
#feature_wrapper {
	width:660px;
}
.feature_bg,
.feature_top,
.feature_bottom {
	width:320px;
	float:left;
}
/*----------------------*/
/*     Content          */
/*----------------------*/
#content_area {
	width:100%;
	padding-top:20px;
}
#content {
	width:660px;
	margin:0 auto;
	padding:0 10px 0 10px;
	overflow:hidden;
}
.ltf_content {
	float:none;
	width:660px;
}
.widget_area {
	float:none;
	width:660px;
	margin-top:15px;
}
.widget {
	width:620px;
	padding:10px 0px 0 20px;
	overflow:hidden;
}
.widget_post {
	padding:15px 0;
	width:620px;
	overflow:hidden;
}
/*----------------------*/
/*     Footer           */
/*----------------------*/
#footer_area {
	width:100%;

	padding-top:31px;
	overflow:hidden;
}
#footer {
	width:660px;
	padding:0 10px;
	margin:0 auto;
	padding-bottom:22px;
}
#nav {
	width:100%;
	height: auto;
	border-bottom:5px solid #454243;
	margin:0 3px;
	padding-bottom:15px;
}
#nav ul {
	width:100%;
}
#nav ul {
	width:660px;
	padding-bottom:20px;
}
#nav ul li {
	float:left;
	padding:0 10px 0 8px;
	background:none;
	margin-bottom: 16px;
}
#nav ul li a {
	color:#3e3e3e;
	font-size:12px;
}
#footer p {
	text-align:center;
}

/*----------------------*/
/*     Insurance        */
/*----------------------*/
#insurance-outerwrap {
	width:100%;
	padding:20px 0 40px 0;
	overflow:hidden;
	}
.insurance-wrap-2{
	background:none !important;
}
#inner_content {
	width:640px;
	padding:0 10px;
	height: auto;
	overflow:hidden;
}
#inner-wrapper{
	width:100%;
	margin:0 auto;
	/*overflow:hidden;*/
	background:#43b147 !important;
}
.insurance-topcontent{
	width:100%;
	margin-top:0px;
	/*overflow:hidden;*/
	background:#47b74b !important;	
}
.text-content{
	width:640px;
	padding-left:0;
	float: none;
	margin:0 auto;
}
.text-content img {
	max-width:139px !important;
	height:auto;
} 
.insurance-topcontent img {
	float:right;
	margin: -187px 100px 0 0;
}
.insurance-btmcontent {
	width:660px;
	padding:30px 0;
	margin:0 auto;
}
.bank-entry {
	width:640px !important;
	overflow:hidden;
	padding:0 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
    behavior:url(PIE.htc);
}
.bank-btmcontent{
	width:100%;
	padding:0;
	margin:0 auto;
}
.bankbox_bg,
.bankbox_topbg,
.bankbox_btmbg {
	width:660px;
	padding:0;
	display:block;
}
.block_ratingsbtmcontent h1 {
	overflow:hidden;
	height:auto;
	padding-top:20px;
}
.instructions{
	width:660px;
	padding:30px 0;
	margin:0 auto;
	overflow:hidden;
}
.instructions_inner{
	width:638px;
	overflow:hidden;
	border:1px solid #43B147;
	padding:10px 10px;
	margin:0 auto;
	}
.instructions_one{
	float:left;
	width:638px;
	padding-right:0;
}
.insurance-entry{
	width:100%;
	overflow:hidden;
}
.bankbox_bg,
.bankbox_topbg,
.bankbox_btmbg{
	width:100%;
	padding:0;
	display:block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
    behavior:url(PIE.htc);
}
#inner-wrapper .selec-field{
	width:280px;
}
#inner-wrapper .selec-field label{
	color:#fff;
	font-size:16px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	display:block;
}
#inner-wrapper .selec-field .rowElem{
	float: none;
	padding:0;
}
#inner-wrapper .selec-field .rowElem1{
	margin-right:0;
}
#inner-wrapper .selec-field select{
	width:264px;
	height:38px;
	border:none;
}
#insurance-wrap{
	width:660px;
	height: auto;
	padding:0;
	background:none!important;
}
.insurancebox_content{
	width:100%;
	height: auto;
	font-family:Arial, Helvetica, sans-serif;
	color:#333333;
	font-size:12px;
	overflow:hidden;
	background: none;
}
.first_column{
	width:100px;
	float:left;
	margin-right:2px;
}
.first_collist{
	width:100px;
	padding-top:122px;
	overflow:hidden;
}
.first_collist li.bigspace{
	height: auto;
}
.first_collist li a{
	width:16px;
	height:16px;
	position: relative;
	left:8px;
	top:0px;
}
.first_collist li a {
	display:block;
	width:80px;
}
.first_collist li a img{
	display:block;
	margin:0 auto;
}
.first_collist li{
	width:100px;
	padding:0;
	height:70px;
	position:relative;
	background:#ddd;
	margin:0 2px 2px 0;
	text-align:center;
}
.first_collist li.bigspace{
	height: auto;
}
.header_title{
	width:108px;
	height: 100px;
	padding:10px 0;
	text-align:center;
	overflow:hidden;
	background:#43b147 !important;
	margin:0 2px 2px 0;
}
.header_title h2{
	color:#fff;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
}
.second_column{
	width:110px;
	float:left;
	position:relative;
}
.second_column ul li {
	margin:0 2px 2px 0;
}
.second_column ul li small{
	text-align:center;
	font-size:10px;
	width:110px;
}
.second_column ul li .vmid{
	display:table-cell;
	vertical-align:middle;
	height:70px;
	background:#ddd;
	margin-bottom:2px;
	width:110px;
	text-align:center;
}
.first_column ul li .vmid{
	display:table-cell;
	vertical-align:middle;
	height:70px;
	background:#ddd;
	margin-bottom:2px;
	width:110px;
	text-align:left;
	line-height:9px;
}
.second_column ul li .vmid span,
.first_column ul li .vmid span{
	text-align:center;
    display: block;
    font-size: 11px;
}
.second_column ul li .vmid strong,
.first_column ul li .vmid strong{
	font-size:10px !important;
}
.second_column ul li .vmid *,
.first_column ul li .vmid * {
	vertical-align: middle;
}
.first_column ul li small{
	text-align:center;
	font-size:10px;
	line-height: normal;
	display:block;
}
.insurance_button{
	text-align:center;
	width:110px;
	height:70px;
	padding:0 !important;
	margin:0;
	background:none;
}
.bestvaluebtn{
	text-align:center;
	width:110px;
	height:70px;
	padding:0 !important;
	margin:0;
	background:none;
}
.btn_lesstpad{
	padding-top:10px !important;
	background:none;
}
.btn_ins_lesstpad{
	padding-top:10px !important;
	background:#ddd;
	width:108px;
}
.bestvalue-box{
	width:110px;
	height:60px;
	padding:0;
	position:absolute;
	top:0px;
	left:0px;
	background:none;
}
.bestvalue-box-blue{
	width:110px;
	height:60px;
	padding:0;
	position:absolute;
	top:0px;
	left:0px;
	background:none;
}
strong.price a{
	font-size: 10px;
	font-weight: bold;
	text-decoration: underline;
	color: #0033CC;
}
.tvmid{
	height:70px !important;
	width:100px !important;
}
.tvmid strong {
	font-size:10px;
	font-weight:normal;
	text-align:center;
	display:block;
	width:100px !important;
}
.travel_h_title{
	width:110px;
	height:60px;
	padding:30px 0;
	text-align:center;
}
.travel_h_title img,
.header_title img {
	width:90%;
	height:auto;
	margin:0 auto;
}
.bigspace2{
	height:60px!important;
	padding-top:0px!important;
	line-height: normal!important;
}
.second_column ul .smalltext strong{
	width:100px;
	height:60px!important;
	font-size:9px!important;
	font-weight:normal;
}
.insurance_button a img,
.bestvaluebtn a img,
.btn_lesstpad a img {
	width:100px;
	height:auto;
}
/*----------------------*/
/*    Life Insurance    */
/*----------------------*/
.alignright {
	max-width:251px;
	padding:20px 209px 20px 205px;
	display: inline;
	margin:0 auto;
	overflow:hidden;
}
.insurance-topcontent img {
    display: block;
    float: none;
    height: auto !important;
    margin: 0 auto;
    max-width: 302px;
}
/*----------------------*/
/*    travelratings     */
/*----------------------*/
#trabel-wrap{
	width:660px;
	height: auto;
	padding:0 0 20px 0;
	margin:0 auto;
	background: none;
}
#inner_content_area {
	overflow:hidden;
}
.insurancebox_content {
	height: auto !important;
	margin-bottom:20px;
}
.bankbox_btmbg {
	width:640px !important;
	height: auto;
	padding:0;
	margin:0 auto;
}
.bankbox_bg, .bankbox_topbg, .bankbox_btmbg{
	width:660px !important;
	height: auto;
	padding:0;
	margin:0 auto;
}
#trabel-wrap .insurance_button, 
#trabel-wrap .btn_ins_lesstpad {
	background:none !important;
	margin-top:10px;
}

#trabel-wrap .travel_h_title {
    height: 60px;
    padding: 30px 0;
    text-align: center;
    width: 108px;
}

/*----------------------*/
/*    Currency          */
/*----------------------*/
#currency-wrap {
	width:660px;
	height: auto;
	padding:0;
	margin:0 auto;
	background:none;
}
.bank-btmcontent {
	width:660px;
	margin:0 auto;
}
.bankbox_bg,
.bankbox_topbg,
.bankbox_btmbg {
	width:660px;
	display:block;
}
#currency-wrap .header_title {
    background: none repeat scroll 0 0 #43B147 !important;
    height: 100px;
    margin: 0 2px 2px 0;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
    width: 108px;
}
#currency-wrap .first_column .header_title {
    background: none repeat scroll 0 0 #43B147 !important;

    height: 100px;
    margin: 0 2px 2px 0;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
    width:100px;
}
.movers_bigspace {
	padding:0;
}
.bank-entry {
	padding-top:20px;
}
#currency-wrap .insurance_button a img, 
#currency-wrap .bestvaluebtn a img, 
#currency-wrap .btn_lesstpad a img {
	height: auto;
    margin: 30px 0 0;
    width: 100px;
}
/*----------------------*/
/*    Bank Accounts     */
/*----------------------*/
#bankrating-wrap {
	background:none;
	height:auto;
	width:660px !important;
}
.insurancebox_content {
	width:660px;
	height:auto !important;
}
.bigtext small{
	font-size:9px !important;
	text-align:center;
}
.header_title .alignnone {
	width:80%;
	height:auto;
}
#bankrating-wrap .insurancebox_content {
	height:auto !important;
}
#bankrating-wrap .bbigspace {
	overflow:hidden;
	height:80px;
	padding:10px 0;
	background:#ddd;
}
#bankrating-wrap .insurance_button, 
#bankrating-wrap .bestvaluebtn  {
	margin-top:20px;
}
/*----------------------*/
/*   Moving Companies   */
/*----------------------*/
#movers-wrap {
	width:660px;
	background:none;
	margin:0 auto;
	height:auto;
}
#movers-wrap .first_column .header_title  {
	height:80px;
	font-size:9px;
	width:100px  !important;
	text-align:center;
}
#movers-wrap .header_title  {
	height:80px;
	font-size:9px;
	width:108px  !important;
	text-align:center;
}
#movers-wrap .internet_title {
	width:70px;
}
.bank-entry h1 {
	padding-bottom:20px;
	height:auto;
}

#movers-wrap .insurance_button,
#movers-wrap .bestvaluebtn {
	margin-top:30px;
	background:none;
}
/*----------------------*/
/* Telephone & Internet */
/*----------------------*/
#banner_area {
	width:100%;
	height:auto;
	background:#43b147;
}
#banner-ip {
	 width: 660px;
	 margin:0 auto;
	 height:auto;
}
#ltf_banner-ip {
	float:none;
	width:600px;
	margin:0 auto;
}
#rgt_banner-ip {
	float:none;
	width:600px;
	margin:0 auto;
}
#ltf_banner-ip .alignnone {
	height:auto;
	display:block;
	margin-right:50px !important;
	width:128px;
}
#rgt_banner-ip .alignright {
	height:auto;
	display:block;
	margin-right:50px !important;
}
#ltf_banner-ip .button,
#rgt_banner-ip .button  {
	margin-top:30px !important;
}
/*----------------------*/
/*   Migration Agents   */
/*----------------------*/
#agent-wrap {
	background:none;
	width:660px;
	margin:0 auto;
	height:auto;
}
#agent-wrap .first_collist li,
#agent-wrap .first_column ul li .vmid small {
	height:150px !important;
}
#agent-wrap .second_column  .bigspace2,
#agent-wrap .second_column ul li .vmid {
	height:150px !important;
}
.exbutton,
.bestvaluebtn {
	height:150px !important;
	background:#ddd;
	width:108px;
}
.exbutton strong,
.bestvaluebtn strong { 
	margin:0;
	padding-top:20px; 
}
#bankrating-wrap .insurance_button, 
#bankrating-wrap .bestvaluebtn {
	background:none;
}
#currency-wrap .insurance_button,
#currency-wrap .bestvaluebtn {
	background:none;
}
.btn_ins_lesstpad {
	height:100px;
}
.sharethis {
	padding:10px !important;
}
#insurance-wrap .insurance_button, 
#insurance-wrap .btn_ins_lesstpad {
	background:none !important;
	margin-top:10px;
}
#insurance-wrap .insurance_button, 
#insurance-wrap .btn_ins_lesstpad {
	background:none !important;
	margin-top:10px;
}


.change_comment1 {
	margin-top:2px !important;
	padding:10px 0 0 5px !important;
	background:#ddd;
	width:103px !important;
	height:140px;
	font-size:11px;
	line-height:12px;
}
.icon_map {
	width:80px;
	margin:0 auto !important;
	margin-top:5px !important;
	margin-bottom:5px !important;
	display:block;
}


/*----------------------*/
/*   reviews            */
/*----------------------*/
#inner_content_wrapper {
    margin: 0 auto;
    position: relative;
    width: 660px;
}
#inner_content_wrapper h1 {
	width:640px !important;
	padding:19px 10px 0 10px;
	font-size:20px;
	color:#47b74b;
	height:35px;
	position: relative;
	font-weight:normal;
	z-index:1000;
	margin-bottom:-5px;
}
#inner_content {
    background:#fff;
    height: auto;
    overflow: hidden;
	margin:0 auto;
}
.inner_ltf_content {
    background: none repeat scroll 0 0 #FFFFFF;
    float:  none;
    min-height: 500px;
    padding: 28px  0 0 0;
    position: relative;
    width: 640px !important;
}
.inner_ltf_content h2 {
	overflow:hidden;
	width:100%;
}
.inner_ltf_content img {
	max-width:620px;
	height: auto;
}

#inner_widget_area {

    float:  none;
    overflow: hidden;
    width: 315px;
	margin:0 auto;
	margin-top:20px;
}
#rc-badge-wrapper {
	margin:0 auto;
	margin-bottom:20px;
}
/*----------------------*/
/*   About us           */
/*----------------------*/
#about_content_wrapper {
	width:660px;
	margin:0 auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
    behavior:url(PIE.htc);
	overflow:hidden;
}
.top_about_box,
.btm_about_box,
.about_box_bg {
	width:660px;
}
.about_con {
	width:640px;
	padding:13px 0;
	margin:0 10px;
	position:relative;
	border-bottom:1px solid #a09fa0;
}
.about_con_text {
	width:320px;
	padding: 0 10px 30px 10px;
}
.about_con_text img {
	width:350px;
	height:auto;
}
.about_top_bg {
	position:absolute;
	top:-9px;
	right:-18px;
}
.about_feature_area {
	width:620px;
	margin:21px 0;
	overflow:hidden;
	padding-left:18px;
}
.about_feature {
	width:620px;
	float: none;
	margin-right:34px;
}
.about_feature img {
	display:block;
	width:290px;
	height:auto;
	margin:0 auto;
}
/*----------------------*/
/*  457 Visa Checklist  */
/*----------------------*/
#insurance-outerwrap {
	overflow:visible;
}
.checklist_wrap{
	width:660px;
	margin:0 auto;
	position:relative;
}
.checklist_topimg{
	width:413px;
	height:157px;
	position:absolute;
	left:170px;
	top:-50px;
	z-index:9999;
}
.checklist_topimg img {
	width:340px;
	height:120px;
}
.checklist_bg,
.checklist_top,
.checklist_btm{
	width:640px;
	background:none;
}
.checklist_maincontent{
	background:#fff;
	padding:70px 10px 40px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
    behavior:url(PIE.htc);
}
.checklist_content{
	padding:20px;
	background: none;
	padding:10px;
}
/*---------------------------*/
/*          Phone            */	
/*---------------------------*/
#phone-wrap{
	width:660px;
	height: auto;
	padding:14px;
	margin:0 auto;
	background: none;
}
#phone-wrap .first_column .header_title strong {
	font-size:16px !important;
	text-align:center;
}
#phone-wrap .first_column .header_title {
    background: none repeat scroll 0 0 #43B147 !important;
    height:100px;
    margin: 0 2px 2px 0;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
    width: 100px !important;
}
#phone-wrap .second_column .header_title {
    background: none repeat scroll 0 0 #43B147 !important;
    height:100px;
    margin: 0 2px 2px 0;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
    width: 108px !important;
}
#phone-wrap .bigspace3, 
#phone-wrap .bigspace4{
	height:100px!important;
	background:#dddddd;
}
#phone-wrap .insurance_button, 
#phone-wrap .bestvaluebtn {
	background:none;
}
/*---------------------------*/
/*    Interne Phone          */	
/*---------------------------*/
#internet-wrap {
	width:660px;
	height: auto;
	padding:14px;
	margin:0 auto;
	background: none;
}
#internet-wrap  .first_column .header_title strong {
	font-size:16px !important;
	text-align:center;
}
#internet-wrap  .first_column .header_title {
    background: none repeat scroll 0 0 #43B147 !important;
    height:100px;
    margin: 0 2px 2px 0;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
    width: 100px !important;
}
#internet-wrap  .second_column .header_title {
    background: none repeat scroll 0 0 #43B147 !important;
    height:100px;
    margin: 0 2px 2px 0;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
    width: 108px !important;
}
#internet-wrap  .bigspace3, 
#internet-wrap  .bigspace4{
	height:100px!important;
	background:#dddddd;
}
#internet-wrap  .insurance_button, 
#internet-wrap  .bestvaluebtn {
	background:none;
}
#attachment_1023 {
	width:640px !important;
	margin:0 auto !important;
}
#attachment_1023 img {
	max-width:515!important;
	height:auto;

	margin:0 auto !important;
}
.inner_ltf_content p {
	overflow:hidden;
}
.inner_ltf_content select {
    border: 1px solid #ddd ;
    border-radius: 2px 2px 2px 2px;
    padding: 3px;
}
}


@media (min-width: 480px) and (max-width: 767px) {
#wrapper {
	width:100%;
	overflow:hidden;
}
/*----------------------*/
/*     Header           */
/*----------------------*/
#header_area {
	width:100%;
	overflow: visible;
}
#header {
	width:440px;
	margin: 0 auto;
	position:relative;
	height: auto;
}
#top_header {
	width:100%;
	padding-top:6px;
	overflow:hidden;
	height:auto;
}
.logo {
	float: none;
	width:100%;
}
.logo img {
	max-width:350px;
	height:auto;
}
.top_header_text {
	float: none;
	width:426px;
	margin:10px 0;
	padding:6px 12px 7px 12px;
	background:#f7f7f7;
}
.top_header_text p {
	color:#717171;
	font-size:12px;
	line-height:17px;
}
/*----------------------*/
/*     Menu             */
/*----------------------*/
#menu_bg,
#menu_ltf,
#menu_rgt {
	width:440px !important;
	height:76px;
	background: none;
    border-radius: 5px 5px 5px 5px;
	margin:0;
}
#menu {
	width:100%;
	height:76px;
	float: none;
	padding:0 10px;
	overflow:hidden;
	margin:0 0 20px -5px;
}
#menu-main-menu,
#menu ul {
	display:none;
}
.tinynav { display: block !important; }
.tinynav  {
    cursor: pointer;
    font-size: 14px;
    height: 47px;
    padding: 8px;
	margin:0px 0 0 -5px;
	width:460px;
	clear:both;
	overflow:hidden;
	background:#fff;
}
#menu input[type="text"], #menu input[type="password"], #menu input[type="email"], #menu textarea, select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 5px solid #393431;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 1px 0 rgba(180, 180, 180, 0.1);
    color: #4f4739;
    display: block;
	font-size:13px;
    margin: 0 0 20px;
    max-width: 100%;
    outline: medium none;
    padding: 9px;
}
.inner_ltf_content select {
    border: 1px solid #ddd ;
    border-radius: 2px 2px 2px 2px;
    padding: 3px;
}
/*----------------------*/
/*     Inner page       */
/*----------------------*/
.inner_wrapper {
	background: none;
}
.breadcrumb {
	width:440px;
	color:#fff;
	font-size:13px;
	font-weight: normal;
	float:left;
	position:absolute;
	z-index:999;
	top:200px;
	left:20px;
	line-height: 20px;
}
/*----------------------*/
/*     Banner           */
/*----------------------*/
#banner_area {
	width:100%;
	height: auto !important;
}
#banner {
	width:100%;
	margin:0 auto;
	height: auto !important;
	padding-top:20px;
	overflow:hidden;
	background:#47B74B;
}
#ltf_banner {
	float:none;
	width:440px;
	margin:0 auto;
	height:278px;
	padding-left: 0;
	overflow:hidden;
	background-position:right bottom;
	margin-bottom:20px;
}
#rgt_banner {
	width:440px;
	height: auto !important;
	float:none;
	padding-left:14px;
	background-position:right bottom !important;
	margin:0 auto;
	margin-top:40px;
}
#ltf_banner h2 {
	font-size:24px;
	color:#fff;
	font-weight:bold;
	padding-bottom:29px;
	text-align:left !important;
}
#ltf_banner h2 small {
	padding-left:0;
}
#rgt_banner h2 {
	font-size:24px;
	color:#fff;
	font-weight:bold;
	padding-bottom:29px;
	text-align:left !important;
}
#rgt_banner h2 small {
	padding-left:0;
}

/*----------------------*/
/*     Feature          */
/*----------------------*/
#feature_area_wrapper {
	width:440px;
	padding:0 10px 15px 10px;
	margin:0 auto;
	background:#ededed ;
	overflow:hidden;
}
#feature_area {
	width:440px;
	padding:0;
}
#feature_wrapper {
	width:320px;
	margin:0 auto;
}
.feature {
	background-position-top:-5px;
	padding-bottom:20px;
}
/*----------------------*/
/*     Content          */
/*----------------------*/
#content_area {
	width:100%;
	padding-top:20px;
}
#content {
	width:440px;
	margin:0 auto;
	padding:0 10px 0 10px;
	overflow:hidden;
}
.ltf_content {
	float:none;
	width:440px;
}
.ltf_content h2 {
	line-height: normal;
}
.widget_area {
	float:none;
	width:440px;
	margin-top:15px;
}
.widget {
	width:420px;
	padding:10px 10px 0 10px;
	overflow:hidden;
}
.widget_post {
	padding:15px 0;
	width:420px;
	overflow:hidden;
}
/*----------------------*/
/*     Footer           */
/*----------------------*/
#footer_area {
	width:100%;
	padding-top:31px;
	overflow:hidden;
}
#footer {
	width:440px;
	padding:0 10px;
	margin:0 auto;
	padding-bottom:22px;
}
#nav {
	width:100%;
	height: auto;
	border-bottom:5px solid #454243;
	margin:0 3px;
	padding-bottom:15px;
}
#nav ul {
	width:100%;
}
#nav ul li {
	float: none;
	padding:0 10px;
	/* background:url(images/nav_bar.jpg) no-repeat; */
	background:none;
	text-align:center;
	margin-bottom: 16px;
}
#nav ul li:first-child {
	background:none;
}
#footer p {
	text-align:center;
}
/*----------------------*/
/*     Insurance        */
/*----------------------*/
#insurance-outerwrap {
	width:100%;
	padding:20px 0 40px 0;
	overflow:hidden;
}
.insurance-wrap-2{
	background:none !important;
}
#inner_content {
	width:420px;
	padding:0 10px;
	height: auto;
	overflow:hidden;
}
#inner-wrapper{
	width:100%;
	margin:0;
	/#overflow:hidden;*/
}
.insurance-topcontent{
	width:100%;
	margin-top:0px;
	/*overflow:hidden;*/
	background:#47b74b !important;
}
.text-content{
	width:420px;
	padding-left:0;
	float: none;
	margin:0 auto;
}
.insurance-topcontent img {
	display: block;
    float: left;
    margin: -10px 0 0 108px;
}
.insurance-btmcontent{
	width:440px;
	padding:30px 0;
	margin:0 auto;
}
.bank-entry {
	width:420px !important;
	overflow:hidden;
	padding:0 0 !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
    behavior:url(PIE.htc);
}
.bank-btmcontent{
	width:100%;
	padding:0;
	margin:0 auto;
}
.bankbox_bg,
.bankbox_topbg,
.bankbox_btmbg{
	width:440px;
	padding:0;
	display:block;
}
.block_ratingsbtmcontent h1 {
	overflow:hidden;
	height:auto;
	padding-top:20px;
}
.instructions{
	width:440px;
	padding:30px 0;
	margin:0 auto;
	overflow:hidden;
}
.instructions_inner{
	width:418px;
	overflow:hidden;
	border:1px solid #43B147;
	padding:10px 10px;
	margin:0 auto;
}
.instructions_one{
	float:left;
	width:420px;
	padding-right:0;
}
.insurance-entry{
	width:100%;
	overflow:hidden;
}
.bankbox_bg,
.bankbox_topbg,
.bankbox_btmbg{
	width:100%;
	padding:0;
	display:block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
    behavior:url(PIE.htc);
}
#inner-wrapper .selec-field{
	 width: 298px;
}
#inner-wrapper .selec-field label{
	color:#fff;
	font-size:16px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	display:block;
}
#inner-wrapper .selec-field .rowElem{
	padding:0;

}
#inner-wrapper .selec-field .rowElem1{
	margin-right:0;
}
#inner-wrapper .selec-field select{
	width:264px;
	height:38px;
	border:none;
}
#insurance-wrap{
	width:440px;
	height: auto;
	padding:0;
	background:none!important;
}
#insurance-wrap .second_column ul .movers_bigspace .vmid a img,
#insurance-wrap .first_column ul .movers_bigspace .vmid a img {
	width:20px !important;
	height:auto !important;
} 
.insurancebox_content{
	width:100%;
	height: auto;
	font-family:Arial, Helvetica, sans-serif;
	color:#333333;
	font-size:12px;
	overflow:hidden;
	background: none;
}
.first_column{
	width:80px;
	float:left;
	margin-right:2px;
}
.first_collist{
	width:80px;
	padding-top:142px;
	overflow:hidden;
}
.first_collist li.bigspace{
	height: auto;
}
.first_collist li a{
	width:16px;
	height:16px;
	position:absolute;
	left:8px;
	top:0px;
}
.first_collist li a img{
	margin: 4px 21px;
}
.first_collist li{
	width:80px;
	padding:0;
	height:80px;
	position:relative;
	background:#ddd;
	margin:0 2px 2px 0;
	text-align:center;
}
.first_collist li.bigspace{
	height: auto;
}
.header_title{
	width:70px;
	height:120px;
	padding:10px 0;
	text-align:center;
	overflow:hidden;
	background:#43b147 !important;
	margin:0 2px 2px 0;
}
.second_column .header_title{
	width:68px;
	height:120px;
	padding:10px 0;
	text-align:center;
	overflow:hidden;
	background:#43b147 !important;
	margin:0 2px 2px 0;
}
.header_title h2{
	color:#fff;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
}
.second_column{
	width:70px;
	float:left;
	position:relative;
}
.second_column ul li {
	margin:0 2px 2px 0;
}
.second_column ul li small{
	text-align:center;
	font-size:10px;
	width:80px;
}
.second_column ul li .vmid{
	display:table-cell;
	vertical-align:middle;
	height:80px;
	background:#ddd;
	margin-bottom:2px;
	width:70px;
	text-align:center;
}
.first_column ul li .vmid{
	display:table-cell;
	vertical-align:middle;
	height:80px;/*lft_change*/
	background:#ddd;
	margin-bottom:2px;
	width:80px;
	text-align:left;
	line-height:9px;
}
.second_column ul li .vmid span,
.first_column ul li .vmid span{
	text-align:center;
    display: block;
    font-size: 11px;
}
.second_column ul li .vmid strong,
.first_column ul li .vmid strong{
	font-size:10px !important;
}
.second_column ul li .vmid *,
.first_column ul li .vmid * {
vertical-align: middle;
}
.first_column ul li small{
	text-align:center;
	font-size:10px;
	line-height: normal;
	display:block;
}
.insurance_button{
	text-align:center;
	width:70px;
	height:70px;
	padding:0 !important;
	margin:0;
}
.bestvaluebtn{
	text-align:center;
	width:70px;
	height:80px;
	padding:0 !important;
	margin:0;
}
.btn_lesstpad{
	padding-top:10px !important;
}
.btn_ins_lesstpad{
	padding-top:10px !important;
	background:#ddd;
	width:68px;
}
.bestvalue-box{
	width:70px;
	height:80px;
	padding:0;
	position:absolute;
	top:0px;
	left:0px;
	background:none;
}
.bestvalue-box-blue{
	width:70px;
	height:80px;
	padding:0;
	position:absolute;
	top:0px;
	left:0px;
	background:none;
}
strong.price a{
	font-size: 10px;
	font-weight: bold;
	text-decoration: underline;
	color: #0033CC;
}
.tvmid{
	height:80px !important;
	width:70px !important;
}	
.travel_h_title{
	width:68px;
	height:80px;
	padding:30px 0;
	text-align:center;
}
.travel_h_title img,
.header_title img {
	width:70px;
	height:auto;
	margin:0 auto;
	padding-top:20px;
}
.bigspace2{
	height:80px!important;
	padding-top:0px!important;
	line-height: normal!important;
}
.second_column ul .smalltext strong{
	width:70px;
	height:60px!important;
	font-size:9px!important;
	font-weight:normal;
}
.insurance_button a img,
.bestvaluebtn a img,
.btn_lesstpad a img {
	width:70px;
	height:auto;
}
/*----------------------*/
/*    Life Insurance    */
/*----------------------*/
.alignright {
	max-width:251px;
	padding:20px 90px 20px 90px;
	display: inline;
	margin:0 auto;
	overflow:hidden;
}
.insurance-topcontent img {
    display: block;
    float: none;
    height:  auto;
    margin: 0 auto;
    max-width: 302px;
}
/*----------------------*/
/*    travelratings     */
/*----------------------*/
#trabel-wrap{
	width:440px;
	height: auto;
	padding: 0 0 20px 0;
	margin:0 auto;
	background: none;
}
#inner_content_area {
	overflow:hidden;
}
.insurancebox_content {
	height: auto !important;
}
.bankbox_bg, .bankbox_topbg, .bankbox_btmbg{
	width:440px !important;
	height: auto;
	padding:0;
	margin:0 auto;
}
.bankbox_btmbg {
	width:420px !important;
	height: auto;
	padding:0 10px;
	margin:0 auto;
}
#trabel-wrap .second_column li .vmid small a img {
	width:20px !important;
	height:auto !important;
}
#trabel-wrap .insurance_button,
#trabel-wrap .bestvaluebtn,
#trabel-wrap .btn_lesstpad {
	background:none;
	margin-top:-40px;
}
/*----------------------*/
/*    Currency          */
/*----------------------*/
#currency-wrap {
	width:440px;
	height: auto;
	padding:0;
	margin:0 auto;
	background:none;
}
.bank-btmcontent {
	width:440px;
	margin:0 auto;
}
.bankbox_bg,
.bankbox_topbg,
.bankbox_btmbg {
	width:440px;
	display:block;
}
.movers_bigspace {
	padding:0;
}
.bank-entry {
	padding-top:20px;
}
/*----------------------*/
/*    Currency          */
/*----------------------*/
#currency-wrap  {
	padding-bottom:20px;
}
#currency-wrap .header_title{
	width:68px;
	height:80px;
	padding:20px 0 0 0;
}
.internet_title{
	width:68px;
	height:80px;
	padding:20px 0 0 0;
	text-align:center;
}
#currency-wrap .first_internet_title{
	width:80px;
	height:80px;
	padding:20px 0 0 0;
	text-align:center;
	margin-right:2px;
}
#currency-wrap .second_column ul .movers_bigspace .vmid a img,
#currency-wrap .first_column ul .movers_bigspace .vmid a img {
	width:20px !important;
	height:auto !important;
} 
#currency-wrap .insurance_button a img, 
#currency-wrap .bestvaluebtn a img, 
#currency-wrap .btn_lesstpad a img {
	height: auto;
	margin-top: 50px;
	width: 65px;
}
#currency-wrap .insurance_button,
#currency-wrap .bestvaluebtn,
#currency-wrap .btn_lesstpad {
    background: none ;
	margin-top:10px;
}
/*----------------------*/
/*    Bank Accounts     */
/*----------------------*/
#bankrating-wrap {
	background:none;
	height:auto;
	width:440px !important;
}
.insurancebox_content {
	width:440px;
	height:auto !important;
}
.bigtext small{
	font-size:9px !important;
	text-align:center;
}
.header_title .alignnone {
	width:80%;
	height:auto;
}
#bankrating-wrap .insurancebox_content {
	height:auto !important;
}
#bankrating-wrap .bbigspace {
	overflow:hidden;
	height:120px;
	padding:10px 0;
	background:#ddd;
	text-align:center;
}
#bankrating-wrap .insurance_button, #bankrating-wrap .bestvaluebtn  {
	margin-top:-20px;
}
/*----------------------*/
/*   Moving Companies   */
/*----------------------*/
#movers-wrap {
	width:440px;
	background:none;
	margin:0 auto;
	height:auto;
}
#movers-wrap .first_column .header_title  {
	height:80px;
	font-size:9px;
	width:80px  !important;
	vertical-align:middle;
	text-align:center;
}
#movers-wrap .header_title  {
	height:80px;
	font-size:9px;
	width:68px  !important;
	vertical-align:middle;
	text-align:center;
}
#movers-wrap .internet_title {
	width:70px;
}
.bank-entry h1 {
	padding-bottom:20px;
	height:auto;
}
#movers-wrap .exbbutton strong, #movers-wrap .exbutton strong {
    height: 106px !important;
    margin-bottom: 4px;
}
#movers-wrap .first_collist li a img {
    margin: 10px 0 0 !important;
    padding: 0 !important;
}
#movers-wrap .insurance_button , #movers-wrap .bestvaluebtn , #movers-wrap .btn_lesstpad {
	margin-top:10px;
	background:none;
}
#movers-wrap .second_column .movers_bigspace img {
	width:20px !important;
	height:auto !important;
}

/*----------------------*/
/* Telephone & Internet */
/*----------------------*/
#banner_area {
	width:100%;
	height:auto;
	background:#43b147;
}
#banner-ip {
	 width: 440px;
	 margin:0 auto;
	 height:auto;
}
#ltf_banner-ip {
	float:none;
}
#rgt_banner-ip {
	float:none;
}
#ltf_banner-ip .alignnone {
	width:100px;
	height:auto;
	display:block;
	margin-right:50px !important;
}
#rgt_banner-ip .alignright {
	width:200px;
	height:auto;
	display:block;
	margin-right:50px !important;
}
#ltf_banner-ip .button,
#rgt_banner-ip .button  {
	margin-top:0;
}
/*----------------------*/
/*   Migration Agents   */
/*----------------------*/
#agent-wrap {
	background:none;
	width:440px;
	margin:0 auto;
	height:auto;
}
#agent-wrap .first_collist li {
		height:118px !important;
	width:80px;
}
#agent-wrap .second_column  .bigspace2,
#agent-wrap .second_column ul li .vmid {
	height:118px !important;
}
#agent-wrap .first_column ul li .vmid ,
#agent-wrap .first_column ul .smallt .vmid,
#agent-wrap .first_column ul li .vmid  {
	width:80px;
	padding-top:30px;
	text-align:center;
}
#agent-wrap .first_column ul .smallt .vmid small {
	width:80px;
	text-align:center;
	font-size:9px !important;
}
#agent-wrap .first_column ul .smallt .vmid .icon6,
#agent-wrap .first_column ul li .vmid .icon1,
#agent-wrap .first_column ul li .vmid .icon2,
#agent-wrap .first_column ul li .vmid .icon3,
#agent-wrap .first_column ul li .vmid .icon4,
#agent-wrap .first_column ul li .vmid .icon5,
#agent-wrap .first_column ul li .vmid .icon6,
#agent-wrap .first_column ul li .vmid .icon7,
#agent-wrap .first_column ul li .vmid .icon8,
#agent-wrap .first_column ul li .vmid .icon9 {
	margin:0 0 0 20px;
	padding:0;
	display:block;
	left:0;
	top:0;
}
.exbutton,
.bestvaluebtn {
	height:119px !important;
	background:#ddd;
	width:68px;
}
.exbutton strong,
.bestvaluebtn strong { 
	margin:0;
	padding-top:20px; 
	background:#ddd;
}
.insurance_button a img, .bestvaluebtn a img, .btn_lesstpad a img {
    height: auto;
    width: 65px;
	margin-top:20px;
}
#movers-wrap .exbbutton strong, #movers-wrap .exbutton strong {
    height: 106px !important;
}

#agent-wrap .exbutton, #agent-wrap .bestvaluebtn {
    background:#DDDDDD;
    height: 118px !important;
    width: 68px;
}

#bankrating-wrap .insurance_button, 
#bankrating-wrap .bestvaluebtn {
	background:none;
}
.exbutton, .bestvaluebtn {
    background: #ddd;
	height: 90px !important;
	width: 68px;
}
.first_collist li .tvmid strong {
	font-size:10px;
	text-align:center;
	padding-top:25px;
	display:block;
	width:85px;
}
#insurance-outerwrap .second_column ul .movers_bigspace .vmid a img,
#insurance-outerwrap .first_column ul .movers_bigspace .vmid a img {
	width:20px !important;
	height:auto !important;
}
#insurance-wrap .second_column li .vmid small a img,
#insurance-wrap .first_column li .vmid small a img {
	width:20px !important;
	height:auto !important;
}
#insurance-wrap .insurance_button, 
#insurance-wrap .btn_ins_lesstpad {
	background:none !important;
	margin-top:-40px;
}
#content .ltf_content p {
padding: 25px 10px 0 !important;
} 

.change_comment {
	margin-top:150px;
	height: auto;
}
.change_comment1 {
	margin-top:2px !important;
	padding:10px 0 0 5px !important;
	background:#ddd;
	width:63px !important;
	height:230px;
	font-size:11px;
	line-height:12px;
}
.icon_map {
	width:40px !important;
	margin:0 auto !important;
	margin-top:5px !important;
	margin-bottom:5px !important;
	display:block;
}

/*----------------------*/
/*   reviews            */
/*----------------------*/
#inner_content_wrapper {
    margin: 0 auto;
    position: relative;
    width: 440px;
}
#inner_content_wrapper h1 {
	width:420px !important;
	padding:19px 10px 0 10px;
	font-size:20px;
	color:#47b74b;
	height:35px;
	position: relative;
	font-weight:normal;
	z-index:1000;
	margin-bottom:-5px;
}
#inner_content {
    background:#fff;
    height: auto;
    overflow: hidden;
	margin:0 auto;
}
.inner_ltf_content {
    background: none repeat scroll 0 0 #FFFFFF;
    float:  none;
    min-height: 500px;
    padding: 28px  0 0 0;
    position: relative;
    width: 420px !important;
}
.inner_ltf_content img {
	max-width:400px;
	height: auto;
}
.pr-widget ,
.prw-container.element.style,
.pr-widget,
.prw-container,
.prw-review, 
.review-content {
	width:420px !important;
	padding:0 !important;
}
#inner_widget_area {
    float:  none;
    overflow: hidden;
    width: 315px;
	margin:0 auto;
	margin-top:20px;
}
#rc-badge-wrapper {
	margin:0 auto;
	margin-bottom:20px;
}
/*----------------------*/
/*   About us           */
/*----------------------*/
#about_content_wrapper {
	width:440px;
	margin:0 auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
    behavior:url(PIE.htc);
	overflow:hidden;
}
.top_about_box,
.btm_about_box,
.about_box_bg {
	width:440px;
}
.about_con {
	width:420px;
	padding:13px 0;
	margin:0 10px;
	position:relative;
	border-bottom:1px solid #a09fa0;
}
.about_con_text {
	width:220px;
	padding: 0 10px 30px 10px;
}
.about_con_text img {
	width:200px;
	height:auto;
}
.about_top_bg {
	position:absolute;
	top:-9px;
	right:-18px;
}
.about_feature_area {
	width:410px;
	margin:21px 10px 0 0;
	overflow:hidden;
	padding-left:18px;
}
.about_feature {
	width:410px;
	float: none;
	margin-right:34px;
}
.about_feature img {
	display:block;
	width:290px;
	height:auto;
	margin:0 auto;
}
/*----------------------*/
/*  457 Visa Checklist  */
/*----------------------*/
#insurance-outerwrap {
	overflow:visible;
}
.checklist_wrap{
	width:440px;
	margin:0 auto;
	position:relative;
}
.checklist_topimg{
	width:313px;
	height:110px;
	position:absolute;
	left:100px;
	top:-50px;
	z-index:9999;
}
.checklist_topimg img {
	width:260px;
	height:100px;
}
.checklist_bg,
.checklist_top,
.checklist_btm{
	width:440px;
	background:none;
}
.checklist_maincontent{
	background:#fff;
	padding:70px 10px 40px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
    behavior:url(PIE.htc);
}
.checklist_content{
	padding:20px;
	background: none;
	padding:10px;
}
/*---------------------------*/
/*          Phone            */	
/*---------------------------*/
#phone-wrap{
	width:440px;
	height: auto;
	padding:14px;
	margin:0 auto;
	background: none;
}
#phone-wrap .first_column .header_title strong {
	font-size:16px !important;
	text-align:center;
}
#phone-wrap .first_column .header_title {
    background: none repeat scroll 0 0 #43B147 !important;
    height:100px;
    margin: 0 2px 2px 0;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
    width: 80px !important;
}
#phone-wrap .second_column .header_title {
    background: none repeat scroll 0 0 #43B147 !important;
    height:100px;
    margin: 0 2px 2px 0;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
    width: 68px !important;
}
#phone-wrap .bigspace3, 
#phone-wrap .bigspace4{
	height:100px!important;
	background:#dddddd;
}
#phone-wrap .insurance_button, 
#phone-wrap .bestvaluebtn {
	background:none;
}
/*---------------------------*/
/*    Interne Phone          */	
/*---------------------------*/
#internet-wrap {
	width:440px;
	height: auto;
	padding:14px;
	margin:0 auto;
	background: none;
}
#internet-wrap .first_column .header_title strong {
	font-size:16px !important;
	text-align:center;
}
#internet-wrap .first_column .header_title {
    background: none repeat scroll 0 0 #43B147 !important;
    height:100px;
    margin: 0 2px 2px 0;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
    width: 80px !important;
}
#internet-wrap .second_column .header_title {
    background: none repeat scroll 0 0 #43B147 !important;
    height:100px;
    margin: 0 2px 2px 0;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
    width: 68px !important;
}
#internet-wrap .bigspace3, 
#internet-wrap .bigspace4{
	height:100px!important;
	background:#dddddd;
}
#internet-wrap .insurance_button, 
#internet-wrap .bestvaluebtn {
	background:none;
}
.bank-entry h2 {
    color: #47B74B;
    font-size: 18px;
    margin: 15px 0 12px !important;
}
#attachment_1023 {
	width:420px !important;
	margin:0 auto !important;
}
#attachment_1023 img {
	max-width:420!important;
	height:auto;
	margin:0 auto !important;
}
.inner_ltf_content p {
	overflow:hidden;
}
.inner_ltf_content select {
    border: 1px solid #ddd ;
    border-radius: 2px 2px 2px 2px;
    padding: 3px;
}
}


@media (min-width: 0px) and (max-width: 479px) {
#wrapper {
	width:100%;
	overflow:hidden;
}
/*----------------------*/
/*     Header           */
/*----------------------*/
#header_area {
	width:100%;
	overflow:hidden;
}
#header {
	width:300px;
	margin: 0 auto;
	position:relative;
	height: auto;
}
#top_header {
	width:100%;
	padding-top:6px;
	overflow:hidden;
	height:auto;
}
.logo {
	float: none;
	width:100%;
}
.logo img {
	width:100%;
	height:auto;
}
.top_header_text {
	float: none;
	width:276px;
	margin:10px 0;
	padding:8px 12px 9px 12px;
	background:#f7f7f7;
}
.top_header_text p {
	color:#717171;
	font-size:12px;
	line-height:17px;
}
/*----------------------*/
/*     Menu             */
/*----------------------*/
#menu_bg,
#menu_ltf,
#menu_rgt {
	width:300px !important;
	height:90px;
	background: none;
    border-radius: 5px 5px 5px 5px;
}
#menu {
	width:100%;
	height:76px;
	float: none;
	padding:0 10px;
	overflow:hidden;
	margin:0 0 20px -5px;
}
#menu-main-menu,
#menu ul {
	display:none;
}
.tinynav { display: block !important; }
.tinynav  {
    cursor: pointer;
    font-size: 14px;
    height: 47px;
    padding: 8px;
	margin:0px 0 0 -5px;
	width:300px;
	clear:both;
	overflow:hidden;
	background:#fff;
}
#menu input[type="text"], #menu input[type="password"], #menu input[type="email"], #menu textarea, select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 5px solid #393431;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 1px 0 rgba(180, 180, 180, 0.1);
    color: #4f4739;
    display: block;
	font-size:13px;
    margin: 0 0 20px;
    max-width: 100%;
    outline: medium none;
    padding: 9px;
}
/*----------------------*/
/*     Inner page       */
/*----------------------*/
.inner_wrapper {
	background: none;
}
.breadcrumb {
	width:280px;
	color:#fff;
	font-size:13px;
	font-weight: normal;
	float:left;
	position:absolute;
	z-index:999;
	top:210px;
	left:20px;
	line-height: 20px;
}
/*----------------------*/
/*     Banner           */
/*----------------------*/
#banner_area {
	width:100%;
	height: auto !important;
}
#banner {
	width:100%;
	margin:0 auto;
	height: auto !important;
	padding-top:20px;
	overflow:hidden;
	background:#47B74B;
}
#ltf_banner {
	float:none;
	width:300px;
	margin:0 auto;
	height:278px;
	padding-left: 0;
	overflow:hidden;
	background-position:right 30px;
	margin-bottom:20px;
}
#rgt_banner {
	width:300px;
	height: auto !important;
	float:none;
	padding:0 0 30px 14px;
	background-position:right 30px;
	margin:0 auto;
}
#ltf_banner h2 {
	font-size:24px;
	color:#fff;
	font-weight:bold;
	padding-bottom:29px;
	text-align:left !important;
}
#ltf_banner h2 small {
	padding-left:0;
}
#rgt_banner h2 {
	font-size:24px;
	color:#fff;
	font-weight:bold;
	padding-bottom:29px;
	text-align:left !important;
}
#rgt_banner h2 small {
	padding-left:0;
}

/*----------------------*/
/*     Feature          */
/*----------------------*/
#feature_area_wrapper {
	width:100%;
	padding:0 0;
	margin:0 auto;
	background:#ededed ;
	overflow:hidden;
}
#feature_area {
	width:270px;
	padding:0;
	overflow:hidden;
	margin:0 auto;
}
#feature_wrapper {
	width:270px;
	margin:0 -5px;
}
.feature_bg {
	margin:0 auto;
}
.feature_bg,
.feature_top,
.feature_bottom {
	width:280px;
	float:left;
}
.feature_bg {
	margin:18px 0;
}
.feature_top {
}
.feature_bottom {
}
.feature {
	overflow: hidden;
    padding: 15px 0 30px 8px !important;
    width: 280px !important;
}
.feature  h2 {
	font-size:18px;
	font-weight:bold;
	padding-bottom:6px;
	color:#50b849;
}
.feature  p {
	width:155px;
	color:#717171;
	font-size:13px;
	line-height:18px;
	padding-bottom:15px;
}
.feature  a {
	color:#e85c17;
	font-size:14px;
	padding-right:10px;
	background:url(images/homelink_arrow.jpg) no-repeat right 6px;
}
/*----------------------*/
/*     Content          */
/*----------------------*/
#content_area {
	width:100%;
	padding-top:20px;
}
#content {
	width:280px;
	margin:0 auto;
	padding:0 10px 0 10px;
	overflow:hidden;
}
.ltf_content {
	float:none;
	width:280px;
}
.ltf_content h2 {
	line-height: normal;
}
.widget_area {
	float:none;
	width:280px;
	margin-top:15px;
}
.widget {
	width:260px;
	padding:10px 10px 0 10px;
	overflow:hidden;
}
.widget_post {
	padding:15px 0;
	width:260px;
	overflow:hidden;
}
/*----------------------*/
/*     Footer           */
/*----------------------*/
#footer_area {
	width:100%;
	padding-top:31px;
	overflow:hidden;
}
#footer {
	width:280px;
	padding:0 10px;
	margin:0 auto;
	padding-bottom:22px;
}
#nav {
	width:100%;
	height: auto;
	border-bottom:5px solid #454243;
	margin:0 3px;
	padding-bottom:15px;
}
#nav ul {
	width:100%;
}
#nav ul li {
	float: none;
	padding:0 10px;
	/* background:url(images/nav_bar.jpg) no-repeat; */
	background: none;
	text-align:center;
	margin-bottom: 16px;
}
#nav ul li:first-child {
	background:none;
}
#footer p {
	text-align:center;
}
/*----------------------*/
/*     Insurance        */
/*----------------------*/
#insurance-outerwrap {
	width:100%;
	padding:20px 0 40px 0;
	overflow:hidden;
}
.insurance-wrap-2{
	background:none !important;
}
#inner_content {
	width:280px;
	padding:0 10px;
	height: auto;
	overflow:hidden;
}
#inner-wrapper{
	width:100%;
	margin:0;
	/*overflow:hidden;*/
}
.insurance-topcontent{
	width:100%;
	margin-top:0px;
	/*overflow:hidden;*/
	background:#47b74b !important;
}
.text-content{
	width:280px;
	padding-left:0;
	float: none;
	margin:0 auto;
}
.insurance-btmcontent {
	width:300px;
	padding:30px 0;
	margin:0 auto;
}
.bank-btmcontent{
	width:100%;
	padding:0;
	margin:0 auto;
}
.bankbox_bg,
.bankbox_topbg,
.bankbox_btmbg{
	width:300px;
	padding:0;
	display:block;
}
.bank-entry {
	width:280px !important;
	overflow:hidden;
	padding:0 10px;
	margin:0 auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
    behavior:url(PIE.htc);
}
.block_ratingsbtmcontent h1 {
	overflow:hidden;
	height:auto;
	padding-top:20px;
}
.instructions{
	width:300px;
	padding:30px 0;
	margin:0 auto;
	overflow:hidden;
}
.instructions_inner{
	width:278px;
	overflow:hidden;
	border:1px solid #43B147;
	padding:10px 10px;
	margin:0 auto;
}
.instructions_one{
	float:left;
	width:280px;
	padding-right:0;
}
.insurance-entry{
	width:280px;
	overflow:hidden;
	padding:0 10px;
}
.bankbox_bg,
.bankbox_topbg,
.bankbox_btmbg{
	width:300px;
	padding:0 0;
	display:block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
    behavior:url(PIE.htc);
}
#inner-wrapper .selec-field{
	width:280px;
}
#inner-wrapper .selec-field label{
	color:#fff;
	font-size:16px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	display:block;
}
#inner-wrapper .selec-field .rowElem{
	float: none;
	padding:0;
}
#inner-wrapper .selec-field .rowElem1{
	margin-right:0;
}
#inner-wrapper .selec-field select{
	width:264px;
	height:38px;
	border:none;
}
#insurance-wrap{
	width:300px;
	height: auto;
	padding:0;
	background:none;
}
.insurancebox_content{
	width:100%;
	height: auto;
	font-family:Arial, Helvetica, sans-serif;
	color:#333333;
	font-size:12px;
	overflow:hidden;
	background: none;
}
.first_column{
	width:45px;
	float:left;
	margin-right:2px;
}
.first_collist{
	width:45px;
	padding-top:142px;
	overflow:hidden;
}
.first_collist li.bigspace{
	height: auto;
}
.first_collist li a{
	width:16px;
	height:16px;
	position:absolute;
	left:8px;
	top:0px;
}
.first_collist li a img{
	margin:10px 0 0 7px;
	padding:0;
}
.first_collist li{
	width:45px;
	padding:0;
	height:80px;
	position:relative;
	background:#ddd;
	margin:0 2px 2px 0;
	text-align:center;
}
.first_collist li.bigspace{
	height: auto;
}
.header_title{
	width:48px;
	height:120px;
	padding:10px 0;
	text-align:center;
	overflow:hidden;
	background:#43b147 !important;
	margin:0 2px 2px 0;
}
.header_title h2{
	color:#fff;
	font-size:9px;
	font-family:Arial, Helvetica, sans-serif;
}
.second_column{
	width:50px;
	float:left;
	position:relative;
}
.second_column ul li {
	margin:0 2px 2px 0;
}
.second_column ul li small{
	text-align:center;
	font-size:9px;
	width:50px;
}
.second_column ul li .vmid{
	display:table-cell;
	vertical-align:middle;
	height:90px;
	background:#ddd;
	margin-bottom:2px;
	width:50px;
	text-align:center;
}
.first_column ul li .vmid{
	display:table-cell;
	vertical-align:middle;
	height:80px;
	background:#ddd;
	margin-bottom:2px;
	width:45px;
	text-align:left;
	line-height:9px;
}
.second_column ul li .vmid span,
.first_column ul li .vmid span{
	text-align:center;
    display: block;
    font-size: 9px;
}
.second_column ul li .vmid strong,
.first_column ul li .vmid strong{
	font-size:9px !important;
}
.second_column ul li .vmid *,
.first_column ul li .vmid * {
vertical-align: middle;
}
.first_column ul li small{
	text-align:center;
	font-size:9px;
	line-height: normal;
	display:block;
}
.insurance_button{
	text-align:center;
	width:50px;
	height:80px;
	padding:0 !important;
	margin:0;
	font-size:9px;
}
.bestvaluebtn{
	text-align:center;
	width:50px;
	height:80px;
	padding:0 !important;
	margin:0;
	font-size:9px;
}
.btn_lesstpad{
	padding-top:10px !important;
	font-size:9px;
}
.btn_ins_lesstpad{
	padding-top:10px !important;
	font-size:9px;
	background:#ddd;
	width:48px;
}
.bestvalue-box{
	width:50px;
	height:80px;
	padding:0;
	position:absolute;
	top:0px;
	left:0px;
	background:none;
}
.bestvalue-box-blue{
	width:50px;
	height:80px;
	padding:0;
	position:absolute;
	top:0px;
	left:0px;
	background:none;
}
strong.price a{
	font-size: 8px;
	font-weight: bold;
	text-decoration: underline;
	color: #0033CC;
}
.tvmid{
	height:70px !important;
	width:100px !important;
}	
.travel_h_title{
	width:48px;
	height:60px;
	padding:30px 0;
	text-align:center;
}
.bigspace2{
	height:60px!important;
	padding-top:0px!important;
	line-height: normal!important;
}
.second_column ul .smalltext strong{
	width:100px;
	height:60px!important;
	font-size:9px!important;
	font-weight:normal;
}
.insurance_button a img,
.bestvaluebtn a img,
.btn_lesstpad a img {
	width:40px;
	height:auto;
}
.travel_h_title img,
.header_title img {
	width:40px;
	height:auto;
	margin:0 auto;
}
/*----------------------*/
/*    Life Insurance    */
/*----------------------*/
.alignright {
	max-width:251px;
	padding:20px 14px 20px 15px;
	display: inline;
	margin:0 auto;
	overflow:hidden;
}
.insurance-topcontent img {
    display: block;
    float: none;
    height:  auto;
    margin: 0 auto;
    max-width: 302px;
}
/*----------------------*/
/*    travelratings     */
/*----------------------*/
#trabel-wrap{
	width:100%;
	height: auto;
	padding:0 0 20px 0 !important;
	background: none;
}
#inner_content_area {
	overflow:hidden;
}
.insurancebox_content {
	height: auto !important;
}
.bankbox_bg, .bankbox_topbg, .bankbox_btmbg{
	width:300px !important;
	height: auto;
	padding:0;
	margin:0 !important;
}
#trabel-wrap .second_column li .vmid small a img {
	width:15px !important;
	height:auto !important;
}
#trabel-wrap .insurance_button,
#trabel-wrap .bestvaluebtn,
#trabel-wrap .btn_lesstpad {
	background:none;
	margin-top:0px;
}
#trabel-wrap .travel_h_title {
    height: 60px;
    padding: 30px 0;
    text-align: center;
    width: 48px !important;
}
#trabel-wrap .header_title .alignnone {
	width:40px !important;
	height: auto !important;
}
/*----------------------*/

/*    Currency          */
/*----------------------*/
#currency-wrap {
	width:300px;
	height: auto;
	padding:0;
	margin:0 auto;
	background:none;
}
.bank-btmcontent {
	width:300px;
	margin:0 auto;
}
.bankbox_bg,
.bankbox_topbg,
.bankbox_btmbg {
	width:300px;
	display:block;
}
.bank-entry {
	padding-top:20px;
}
#currency-wrap .header_title{
	width:48px;
	height:80px;
	padding:20px 0 0 0;
}
.internet_title{
	width:45px;
	height:80px;
	padding:20px 0 0 0;
	text-align:center;
	}
.first_internet_title{
	width:45px;
	height:80px;
	padding:20px 0 0 0;
	text-align:center;
	margin-right:2px;
	}
.movers_bigspace {
	padding:0;
}
#currency-wrap .second_column ul .movers_bigspace .vmid a img,
#currency-wrap .first_column ul .movers_bigspace .vmid a img {
	width:15px !important;
	height:auto !important;
}
#currency-wrap .insurance_button a img, 
#currency-wrap .bestvaluebtn a img, 
#currency-wrap .btn_lesstpad a img {
	height: auto;
	margin-top: 50px;
}
#currency-wrap .insurance_button,
#currency-wrap .bestvaluebtn,
#currency-wrap .btn_lesstpad {
    background: none ;
	margin-top:10px;
}
/*----------------------*/
/*    Bank Accounts     */
/*----------------------*/
#bankrating-wrap {
	background:none;
	height:auto;
	width:300px;
}
.insurancebox_content {
	width:300px;
	height:auto;
	margin:0 auto;
}
.bigtext small{
	font-size:9px !important;
	text-align:center;
}
.header_title .alignnone {
	width:80%;
	height:auto;
}
#bankrating-wrap .insurancebox_content {
	height:auto !important;
}
#bankrating-wrap .bbigspace {
	overflow:hidden;
	height:100px;
	padding:10px 0;
	background:#ddd;
	text-align:center;
	font-size:9px;
}
#bankrating-wrap .second_column li,
#bankrating-wrap .first_column li {
	height:100px;
}
#bankrating-wrap.second_column li .vmid,
#bankrating-wrap .first_column li .vmid{
	height:100px;
}
#bankrating-wrap .second_column ul li .vmid {
	background: none repeat scroll 0 0 #DDDDDD;
    display: table-cell;
    height: 100px;
    margin-bottom: 2px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}
#bankrating-wrap .insurance_button, #bankrating-wrap .bestvaluebtn  {
	margin-top:20px;
}
/*----------------------*/
/*   Moving Companies   */
/*----------------------*/
#movers-wrap {
	width:300px;
	background:none;
	margin:0 auto;
	height:auto;
}
#movers-wrap .first_column .header_title  {
	height:80px;
	font-size:8px;
	width:45px  !important;
}
#movers-wrap .second_column li,
#movers-wrap .first_column li {
	height:100px;
}
#movers-wrap .second_column li .vmid,
#movers-wrap .first_column li .vmid{
	height:100px;
}
#movers-wrap .header_title  {
	height:80px;
	font-size:8px;
	width:48px  !important;
}
#movers-wrap .internet_title {
	width:45px;
}
.bank-entry h1 {
	padding-bottom:10px;
	height:auto;
}
#movers-wrap .insurance_button , #movers-wrap .bestvaluebtn , #movers-wrap .btn_lesstpad {
	margin-top:30px;
	background:none;
}
#movers-wrap .second_column .movers_bigspace img {
	width:15px !important;
	height:auto !important;
}
/*----------------------*/
/* Telephone & Internet */
/*----------------------*/
#banner_area {
	width:100%;
	height:auto;
	background:#43b147;
}
#banner-ip {
	 width: 300px;
	 margin:0 auto;
	 height:auto;
}
#ltf_banner-ip {
	float:none;
	width:260px;
	height:auto;
	padding:0 0 20px 40px;
}
#rgt_banner-ip {
	float:none;
	width:260px;
	height:auto;
	padding:0 0 20px 40px;
}
#ltf_banner-ip .alignnone {
	width:50px;
	height:auto;
	display:block;
	margin-right:20px !important;
}
#rgt_banner-ip .alignright {
	width:100px;
	height:auto;
	display:block;
	margin-right:20px !important;
}
#ltf_banner-ip .button,
#rgt_banner-ip .button  {
	margin-top:0;
}
/*----------------------*/
/*   Migration Agents   */
/*----------------------*/
#agent-wrap {
	background:none;
	width:300px;
	margin:0 auto;
	height:auto;
}
#agent-wrap .travel_h_title {
    height: 60px;
    padding: 30px 0;
    text-align: center;
    width: 48px;
}
#agent-wrap .travel_h_title img {
	width:100%;
	height:auto;
}
#agent-wrap .first_collist li {
	height:108px !important;
	width:45px;
	font-size:8px;
	padding-top:30px;
}
#agent-wrap .first_collist .bigspace2 {
	height: 138px!important;
}
#agent-wrap .first_collist .bigspace2 .vmid small {
	padding:30px 0 0 0 !important;
	margin:0;
}
#agent-wrap .exbutton, #agent-wrap .bestvaluebtn {
    background: none repeat scroll 0 0 #DDDDDD;
    height: 138px !important;
    width: 48px !important;
}
#agent-wrap .first_collist .bigspace2 .vmid small
#agent-wrap .first_collist li .vmid small,
#agent-wrap .first_collist .smallt .vmid small {
	width:45px;
	font-size:8px;
	height:100px;
}
#agent-wrap .second_column .bigspace2, #agent-wrap .second_column ul li .vmid {
   height: 138px !important;
    width: 48px;
}
.first_collist .smallt strong, .first_collist .smallt small {
    font-size: 8px !important;
}
#agent-wrap .second_column  .bigspace2{
	height:138px !important;
	width:50px;
}
#agent-wrap .first_collist {
    overflow: hidden;
    padding-top: 122px !important;
    width: 45px;
}
#agent-wrap .first_column ul .smallt .vmid .icon6,
#agent-wrap .first_column ul li .vmid .icon1,
#agent-wrap .first_column ul li .vmid .icon2,
#agent-wrap .first_column ul li .vmid .icon3,
#agent-wrap .first_column ul li .vmid .icon4,
#agent-wrap .first_column ul li .vmid .icon5,
#agent-wrap .first_column ul li .vmid .icon6,
#agent-wrap .first_column ul li .vmid .icon7,
#agent-wrap .first_column ul li .vmid .icon8,
#agent-wrap .first_column ul li .vmid .icon9 {
	margin:0 0 0 15px;
	padding:0;
	display:block;
	left:0;
	top:0;
}
#agent-wrap .exbutton, #agent-wrap .bestvaluebtn {
    background:#DDDDDD;
    height: 138px !important;
	width:45px;
}
.exbutton,
.bestvaluebtn {
	height:138px !important;
	background:#ddd;
	width:48px;
}
.exbutton strong,
.bestvaluebtn strong { 
	margin:0;
	padding-top:30px;
	height:30px;
}
.insurance_button a img, .bestvaluebtn a img, .btn_lesstpad a img {
    height: auto;
    width: 40px;
}
#bankrating-wrap .insurance_button, 
#bankrating-wrap .bestvaluebtn {
	background:none;
}
#currency-wrap .insurance_button,
#currency-wrap .bestvaluebtn {
	background:none;
}
.jqTransformSelectWrapper {
width:280px;
}
#trabel-wrap .first_collist {
    overflow: hidden;
    padding-top: 122px !important;
    width: 45px;
}
.bigspace2 strong {
	font-size:9px;
}
#trabel-wrap {
	width:300px;
	margin:0 auto;
}
.exbutton, .bestvaluebtn {
    background: #ddd;
	height: 80px !important;
	width: 45px;
}
.tvmid {
    height: 80px !important;
    width: 45px !important;
}
.first_collist li {
	height:90px;
}
.first_collist .bigspace2 {
	height:90px;
}
.first_collist li .tvmid {
    height: 80px !important;
    width: 45px !important;
}
.first_collist .bigspace2 .tvmid {
	padding-top:25px;
}
#insurance-outerwrap .second_column ul .movers_bigspace .vmid small a img,
#insurance-outerwrap .first_column ul .movers_bigspace .vmid small a img {
	width:15px !important;
	height:auto !important;
} 
#insurance-wrap .second_column li .vmid small a img,
#insurance-wrap .first_column li .vmid small a img {
	width:15px !important;
	height:auto !important;
}
#insurance-wrap .insurance_button, 
#insurance-wrap .btn_ins_lesstpad {
	background:none !important;
} 
.sharethis {
	padding:10px !important;
}
#insurance-wrap .first_column ul li .vmid {
	background:#DDDDDD;
	display: table-cell;
	height: 90px;
	line-height: 9px;
	margin-bottom: 2px;
	text-align: center !important;
	vertical-align: middle;
	width: 45px;
}
#content .ltf_content p {
padding: 25px 10px 0 !important;
}
.change_comment .vmid {
	margin-top:150px;
	height:200px !important;
}
.change_comment1 {
	margin-top:2px !important;
	padding:10px 0 0 0 !important;
	background:#ddd;
	width:48px !important;
	height:260px;
	font-size:9px;
	line-height:12px;
}
.icon_map {
	width:40px !important;
	margin:0 auto !important;
	margin-top:5px !important;
	margin-bottom:5px !important;
	display:block;
}

/*----------------------*/
/*   reviews            */
/*----------------------*/
#inner_content_wrapper {
    margin: 0 auto;
    position: relative;
    width: 300px;
}
#inner_content_wrapper h1 {
	width:280px !important;
	padding:19px 10px 0 10px;
	font-size:20px;
	color:#47b74b;
	height:35px;
	position: relative;
	font-weight:normal;
	z-index:1000;
	margin-bottom:-5px;
}
#inner_content {
    background:#fff;
    height: auto;
    overflow: hidden;
	margin:0 auto;
}
.inner_ltf_content {
    background: none repeat scroll 0 0 #FFFFFF;
    float:  none;
    min-height: 500px;
    padding: 28px  0 0 0;
    position: relative;
    width: 280px !important;
}
.inner_ltf_content img {
	max-width:260px;
	height: auto;
}
#inner_widget_area {
    float:  none;
    overflow: hidden;
    width: 280px;
	margin:0 auto;
	margin-top:20px;
}
#rc-badge-wrapper {
	margin-bottom:20px;
	padding:0 !important;
	width:300px !important;
	margin-left:-10px;
}
/*----------------------*/
/*   About us           */
/*----------------------*/
#about_content_wrapper {
	width:300px;
	margin:0 auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
    behavior:url(PIE.htc);
	overflow:hidden;
}
.top_about_box,
.btm_about_box,
.about_box_bg {
	width:300px;
}
.about_con {
	width:280px;
	padding:13px 0;
	margin:0 10px;
	position:relative;
	border-bottom:1px solid #a09fa0;
}
.about_con_text {
	width:170px;
	padding: 0 5px 30px 5px;
}
.about_con_text img {
	width:120px;
	height:auto;
}
.about_top_bg {
	position:absolute;
	top:-9px;
	right:-18px;
}
.about_feature_area {
	width:270px;
	margin:21px 10px 0 0;
	overflow:hidden;
	padding-left:18px;
}
.about_feature {
	width:270px;
	float: none;
	margin-right:34px;
}
.about_feature img {
	display:block;
	width:260px;
	height:auto;
	margin:0 auto;
}
/*----------------------*/
/*  457 Visa Checklist  */
/*----------------------*/
#insurance-outerwrap {
	overflow:visible;
}
.checklist_wrap{
	width:300px;
	margin:0 auto;
	position:relative;
}
.checklist_topimg{
	width:413px;
	height:157px;
	position:absolute;
	left:65px;
	top:-30px;
	z-index:9999;
}
.checklist_topimg img {
	width:180px;
	height:70px;
}
.checklist_bg,
.checklist_top,
.checklist_btm{
	width:300px;
	background:none;
}
.checklist_maincontent{
	background:#fff;
	padding:70px 10px 40px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
    behavior:url(PIE.htc);
}
.checklist_content{
	padding:20px;
	background: none;
	padding:10px;
}
/*---------------------------*/
/*          Phone            */	
/*---------------------------*/
#phone-wrap{
	width:300px;
	height: auto;
	padding:14px;
	margin:0 auto;
	background: none;
}
#phone-wrap .first_column .header_title strong {
	font-size:10px !important;
}
#phone-wrap .first_column .header_title {
    background: none repeat scroll 0 0 #43B147 !important;
    height:60px;
    margin: 0 2px 2px 0;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
    width: 45px !important;
}
#phone-wrap .second_column .header_title {
    background: none repeat scroll 0 0 #43B147 !important;
    height:60px;
    margin: 0 2px 2px 0;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
    width: 48px !important;
}
#phone-wrap .bigspace3, 
#phone-wrap .bigspace4{
	height:100px!important;
	background:#dddddd;
}
#phone-wrap .insurance_button, 
#phone-wrap .bestvaluebtn {
	background:none;
}
/*---------------------------*/
/*    Interne Phone          */	
/*---------------------------*/
#internet-wrap {
	width:300px;
	height: auto;
	padding:14px;
	margin:0 auto;
	background: none;
}
#internet-wrap .first_column .header_title strong {
	font-size:10px !important;
}
#internet-wrap .first_column .header_title {
    background: none repeat scroll 0 0 #43B147 !important;
    height:60px;
    margin: 0 2px 2px 0;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
    width: 45px !important;
}
#internet-wrap .second_column .header_title {
    background: none repeat scroll 0 0 #43B147 !important;
    height:60px;
    margin: 0 2px 2px 0;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
    width: 48px !important;
}
#internet-wrap .bigspace3, 
#internet-wrap .bigspace4{
	height:100px!important;
	background:#dddddd;
}
#internet-wrap .insurance_button, 
#internet-wrap .bestvaluebtn {
	background:none;
}
#attachment_1023 {
	width:280px !important;
	margin:0 auto !important;
}
#attachment_1023 img {
	max-width:280px !important;
	height:auto;
	margin:0 auto !important;
}
.inner_ltf_content p {
	overflow:hidden;
}
.inner_ltf_content select {
    border: 1px solid #ddd ;
    border-radius: 2px 2px 2px 2px;
    padding: 3px;
}
.show_details {
	padding-left:2px;
}

}


/*--------------------------*/
#home_table { background:#fff; }
#home_table .header_title_hide,
#home_table .li_hide, 
#home_table .insurance_button_hide { display: none; }
#table_direction { display:none; }
#home_table .table_part2 { display:block; }
@media screen and (max-width: 480px){
#home_table .table_part2 {display:none; }
#home_table .header_title { margin: 0 1px 0 1px !important; }
#home_table .header_title_hide,
#home_table .li_hide, 
#home_table .insurance_button_hide { display: block; }
#home_table .insurance_button_hide { min-height:80px;}
#home_table .hide_column,
#home_table .ul_hide { display: none; }
#home_table {
	border-radius:6px 6px 0px 0px; 
	-moz-border-radius: 6px 6px 0px 0px; 
	-khtml-border-radius: 6px 6px 0px 0px; 
	-webkit-border-radius: 6px 6px 0px 0px;
	border-top-left-radius:6px;
	-khtml-border-top-left-radius:6px;
	border-top-right-radius:6px;
	-moz-border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	position:relative;
	background:#ededed;
}
#home_table_inn { max-width:320px; margin:0 auto; position:relative; }
#home_table .first_column,
#home_table .second_column { 
	float:left;
	width:73px;
	margin:0 .5px;
	background:#fff;
}
#home_table .first_column .first_collist,
#home_table .first_column .first_collist li,
#home_table .second_column ul,
#home_table .second_column ul li {   width:73px; background:none; }
#home_table .first_column ul li .vmid, 
#home_table .first_column .first_collist li .vmid,
#home_table .second_column ul li .vmid,
#home_table .header_title,
#home_table .insurance_button {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;
	width:73px;
	background:none;
	padding:0 5px !important;
	margin:0 !important;
}
#home_table  .bestvalue-box {
	width:73px;
	background:none !important;
	padding:0 !important;
	margin:0 !important;
	position:relative !important;
	left:inherit;
	top:inherit;
	height:inherit !important;
	height: auto !important;
}
#home_table .first_column ul li small { text-align:left; }
#home_table .second_column ul li small { text-align: center; }
#home_table .first_collist { padding-top:0 !important; }
#home_table .icon1, #home_table .icon2,
#home_table .icon3, #home_table .icon4,
#home_table .icon5, #home_table .icon6,
#home_table .icon7, #home_table .icon8,
#home_table .icon9, #home_table .icon10 { display:none; }
#home_table .highlight_column { background:#edede5 !important; overflow: hidden; float:left;}
#home_table .lft_curve_header {
	border-radius:0px 6px 0px 0px; 
	-moz-border-radius: 0px 6px 0px 0px; 
	-khtml-border-radius: 0px 6px 0px 0px; 
	-webkit-border-radius: 0px 6px 0px 0px;
	border-top-left-radius:6px;
	-khtml-border-top-left-radius:6px;
	border-top-right-radius:0px;
	-moz-border-top-left-radius:6px;
	-webkit-border-top-right-radius:0px;
	position:relative;
}
#home_table .rgt_curve_header {
	border-radius:6px 0px 0px 0px; 
	-moz-border-radius: 6px 0px 0px 0px; 
	-khtml-border-radius: 6px 0px 0px 0px; 
	-webkit-border-radius: 6px 0px 0px 0px;
	border-top-left-radius:0px;
	-khtml-border-top-left-radius:0px;
	border-top-right-radius:6px;
	-moz-border-top-left-radius:0px;
	-webkit-border-top-right-radius:6px;
	position:relative;
}
#home_table .insurance_button a img, 
#home_table .bestvaluebtn a img, 
#home_table .btn_lesstpad a img {
    height: auto;
    width: 60px;
	margin:0 auto !important;
	float:none;
}
#home_table .header_title { padding:10px 5px !important; background:#43b147;}
#home_table .bestvalue-box .header_title_highlight,
#home_table .header_title_highlight { background: #f87700 !important; }
.insurancebox_content { overflow: visible; position: relative;}
#table_direction { 
	position: absolute; 
	top:95px;
	left:0;
	right:0; 
	z-index:9999999!important; 
	max-width:300px;
	width:300px;
	margin:0 auto; 
	height: 50px; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;
	display:block;
}
#table_direction .direction { position: relative;}
#table_direction small { 
	height: 20px; 
	width: 20px; 
	display: block; 
	position: absolute; 
	top: 0;
	right:0; 
	cursor: pointer; 
	z-index:999999 !important;
}
#table_direction small i { 
	font-size:28px; 
	color:#43b147;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s 
}
#table_direction small:hover i { color:#f87700; }
#table_direction .lft_direction,
#table_direction .rgt_direction { right: -30px; z-index:999999;}
.table_part1,
.table_part2 { float: left; max-width: 100%; overflow: hidden; }
#home_table  .hide_column { display: block !important; }
#home_table .insurance_button_hide { min-height: 70px; }
#table_direction.is_stuck {
	position:fixed !important;
	top:100px  !important;
	bottom: inherit !important;
} 
#table_direction .head_table1,
#table_direction .head_table2 { 
	height: auto; 
	width:297px; 
	position:absolute; 
	left:-10px; 
	top:-100px; 
	z-index:99999999 !important;
}
#table_direction .head_table2 { 
	display:none;
}
#table_direction .head_table1 img,
#table_direction .head_table2 img {
	display:block;
	max-width:297px;
	height:auto;
	display:none;
}
#table_direction.is_stuck .head_table1 img,
#table_direction.is_stuck .head_table2 img { display:block; }
}

@media screen and (max-width: 380px){
#table_direction .lft_direction,
#table_direction .rgt_direction { right: -7px;}
#table_direction small i { font-size:20px; }
#home_table .first_column,
#home_table .second_column { 
	width:70px;
	margin:0 .5px;
}
#home_table .first_column .first_collist,
#home_table .first_column .first_collist li,
#home_table .second_column ul,
#home_table .second_column ul li { width:69px; }
#home_table .first_column ul li .vmid, 
#home_table .first_column .first_collist li .vmid,
#home_table .second_column ul li .vmid,
#home_table .header_title,
#home_table .insurance_button {
	width:69px;
	padding:0 5px !important;
}
#home_table .first_column ul li small { font-size:8px !important; }
#home_table .header_title { padding-top:20px !important;}
#home_table .bestvalue-box { width:69px; }
#table_direction .head_table1,
#table_direction .head_table2 { 
	height: auto; 
	width:284px; 
	left:1px;
}
#table_direction .head_table2 {left:0px; }
#table_direction .head_table1 img,
#table_direction .head_table2 img {
	max-width:100%;
}
}





/*-------------------*/

/*   custom          */

/*-------------------*/

@media (max-width: 1023px) {

.top_box_center{ max-width: 660px; }

.top_content_box{ max-width: 100%; margin-right: 0; }

.bottom_content_box #about_content_wrapper,
#inner_content_area.bottom_content_box{ overflow: visible; }

.content_right_img { margin-top: -65px; }

.content_right_main_inn { padding: 20px 10px; }

.content_right_img { margin-right: 0; }
}

@media (max-width: 768px) {

	.top_box_center{ max-width: 440px; }

	/*.top_content_box{ max-width: 220px; }*/

	.bottom_content_box #about_content_wrapper,
	#inner_content_area.bottom_content_box{ overflow: hidden; }

	#inner_content_area.bottom_content_box{ padding-top: 25px !important; }

	.content_right_main_inn{ max-width: inherit !important; }

	.top_content_img{ float: none; margin-bottom: 20px; }

	.content_right_img_inn{ margin-left: 0; }

	.content_right_img { margin-top: 0; }

}

@media (max-width: 480px) {

	.top_box_center{ max-width: 300px; }

	/*.top_content_box{ max-width: 170px; }*/

	.top_content_img img{ max-width: 200px; height: auto;}

}