/*
Theme Name: 457visa.com
Theme URI: 
Author: Team
Author URI: 
Description: Wordpress Theme
Version: 1.1
Tags: light, white, one-column, two-columns, left-sidebar, right-sidebar, fixed-width, custom-menu, featured-images, full-width-template, theme-options, 
*/

/* Css Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,
acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,
sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,
tbody,tfoot,thead,tr,th,td { 
	margin:0; 
	padding:0; 
	border:0; 
	outline:0; 
	font-size:100%; 
	vertical-align:baseline; 
}
body {
	color:#000;
	padding:0;
	margin:0;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	background:#f7f7f7 url(images/bgr_body_bg.jpg) repeat-x;
}
html {
	-webkit-text-size-adjust: none;
}
ul,ol {
	list-style:none;
}
img,fieldset {
	border:none;
}	
a {
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}
.skip {
	position:absolute;
	left:-9999px;
}
/*----------------------*/
/*     Page structure   */
/*----------------------*/
#wrapper {
	width:100%;
	overflow:hidden;
	background:url(images/background_header.png) no-repeat center top;
	
}
/*----------------------*/
/*     Header           */
/*----------------------*/
#header_area {
	width:100%;
	background:url(images/bgr_body_bg.jpg) repeat-x;
}
#header {
	width:986px;
	margin: 0 auto;
	position:relative;
}
#top_header {
	width:986px;
	height:108px;
	padding-top:6px;
	overflow:hidden;
}
.logo {
	float:left;
	width:350px;
}
.top_header_text {
	float:right;
	width:415px;
	margin:30px 5px 0 0;
	padding:8px 12px 9px 12px;
	background:#f7f7f7;
}
.top_header_text p {
	color:#717171;
	font-size:14px;
	line-height:17px;
}
/*----------------------*/
/*     Menu             */
/*----------------------*/
#menu_bg,
#menu_ltf,
#menu_rgt {
	width:986px;
	height:76px;
}
#menu_bg {
	background:url(images/menu_bg.jpg) repeat-x;
}
#menu_ltf {
	background:url(images/menu_lft_bg.jpg) no-repeat;
}
#menu_rgt {
	background:url(images/menu_rgt_bg.jpg) no-repeat right top;
	overflow:hidden;
}
#menu {
	width:793px;
	height:76px;
	float:left;
	padding-left:21px;
}
#menu ul {
	padding-left:0px;
}
#menu ul li a {
	color:#fff;
	text-shadow:0px -1px 1px #000;
}
#menu ul li {
	float:left;
	background:url(images/menu_bar_bg.jpg) no-repeat right top;
	font-size:13px;
	padding:0 35px 0 32px;
	font-weight:bold;
	line-height:44px;
}
#menu ul li a {
	height:44px;
	line-height:44px;
	display:block;
	color:#fff;
	text-shadow:0px -1px 1px #000;
	z-index:100;
	position:relative;
}
#menu ul li a:hover,
#menu ul .current_page_item > a,
#menu ul li:hover > a {
	background:url(images/bgr_menu_hover.jpg) repeat-x;
	color:#7ce175;
	display:block;
}
#menu ul li li:hover > a {
	color:#fefefe;
	display:block;
	background:#7ac15b;
	width:156px;
}
#menu ul li ul{
	z-index: 9999;
	position: absolute;
	left: -999em;
	height: auto;
	width: 200px;
	margin-left:-32px;
	padding:0;
	background:#1f1e1e;
}
#menu ul li li {
	margin: 0px;
	padding: 0px;
	width:184px;
	background:#1f1e1e;
}
#menu ul li li:first-child {
	border:0;
}
#menu ul li ul a { 
	padding:0 12px 0 32px;
	width:160px;
	height:30px;
	line-height:30px;
	color:#fff;
	font-size:13px;
	display:block;
	text-shadow: none;
	font-weight:normal;
}
#menu ul li ul a:hover, #menu ul li ul a:active {
	color:#fff;
	background:#7ac15b;
}
#menu ul li ul ul {
	width:200px;
	margin:-30px 0 0 200px;
}
#menu ul li ul ul li {
	width:150px;
}
#menu ul li:hover ul ul, #menu ul li:hover ul ul ul, #menu ul li.sfhover ul ul, #menu ul li.sfhover ul ul ul {
	left: -999em;
}
#menu ul li:hover ul, #menu ul li li:hover ul, #menu ul li li li:hover ul, #menu ul li.sfhover ul, #menu ul li li.sfhover ul, #menu ul li li li.sfhover ul {
	left: auto;
}
#menu ul li:hover, #menu ul li.sfhover { 
	position: static;
}
#menu .menu-item-home { height:44px; padding:0 18px 0 0; }
#menu .menu-item-home a {
	background:url(images/icon_home.jpg) no-repeat 0 0!important;
	display:block;
	width:14px;
	height:14px;
	text-indent:-9999px;
	margin-top:15px;
}


#search_field {
	width:164px;
	float:right;
	overflow:hidden;
	padding-top:8px;
}
.search_input {
	background: url(images/btn_search_bg.jpg) no-repeat;
	height:28px;
	width:114px;
	padding:0 10px 0 10px;
	float:left;
}
.search_input input {
	height:26px;
	line-height:26px;
	width:114px;
	background:none;
	border:none;
	color:#222222;
}
.search_btn {
	background: url(images/btn_search.jpg) no-repeat;
	width:20px;
	height:34px;
	line-height:34px;
	border:none;
	cursor:pointer;
}
/*----------------------*/
/*     Banner           */
/*----------------------*/
#banner_area {
	width:100%;
	height:298px;
	/*background:url(images/banner_area_bg.png) no-repeat center bottom;*/
}
#banner {
	width:986px;
	margin:0 auto;
	background: url(images/banner_bg.jpg) no-repeat 486px bottom;
	height:278px;
	padding-top:20px;
	overflow:hidden;
}
#ltf_banner h2 small {
	font-size:20px;
	display:block;
	padding-left:65px;
}
#ltf_banner {
	float:left;
	width:463px;
	height:278px;
	padding-left:23px;
	background:url(images/banner_ltf_bg.png) no-repeat 241px bottom;
	overflow:hidden;
}
#ltf_banner h2 {
	font-size:28px;
	color:#fff;
	font-weight:bold;
	padding-bottom:29px;
}
#ltf_banner ul {
	display:block;
	padding-bottom:9px;
}
#ltf_banner ul li {
	display:block;
	font-size:15px;
	padding-left:11px ;
	margin-bottom:10px;
	color:#fff;
	text-transform:capitalize;
	background:url(images/list_bg.png) no-repeat left center;
}
#ltf_banner ul li small {
	font-size:15px;
	font-weight:bold;
}
#ltf_banner span {
	background:url(images/btn_check_list.jpg) repeat-x;
	display:inline-block;
	height:46px;
	line-height:46px;	
	padding:0 16px 0 19px;
}
#ltf_banner strong {
	display:block;
	background:url(images/btn_arrow_bg.png) no-repeat right center;
	color:#fff;
	font-size:19px;
	font-weight:normal;
	padding-right:38px;
	cursor:pointer;
}
#ltf_banner ul li a {
	color:#fff;
}
#rgt_banner {
	background:url(images/banner_rgt_bg.png) no-repeat right bottom;
	width:472px;
	height:278px;
	float:right;
	padding-left:14px;
}
#rgt_banner h2 {
	font-size:28px;
	color:#fff;
	font-weight:bold;
	padding-bottom:29px;
}
#rgt_banner ul {
	display:block;
	padding-bottom:9px;
}
#rgt_banner ul li {
	display:block;
	font-size:15px;
	padding-left:11px ;
	margin-bottom:10px;
	color:#fff;
	text-transform:capitalize;
	background:url(images/list_bg.png) no-repeat left center;
}
#rgt_banner span {
	background:url(images/btn_compare_plan.jpg) repeat-x;
	display: inline-block;
	height:46px;
	line-height:46px;	
	padding:0 16px 0 19px;
}
#rgt_banner strong {
	display:block;
	background: url(images/btn_arrow_red_bg.png) no-repeat right center;
	color:#fff;
	font-size:19px;
	font-weight:normal;
	padding-right:38px;
	cursor:pointer;
}
#rgt_banner ul li a {
	color:#fff;
}

#ltf_banner h2 small {
	font-size:20px;
	display:block;
	padding-left:65px;
}
#rgt_banner h2 small {
	font-size:20px;
	display:block;
	padding-left:65px;
}

/*----------------------*/
/*     Banner           */
/*----------------------*/
#feature_area_wrapper {
	width:100%;
	background:#ededed ;
	overflow:hidden;
	padding-bottom:22px;
	background:url(images/feature_area_bg.jpg) repeat-x left bottom;
}
#feature_area {
	width:984px;
	margin:0 auto;
	padding-left:2px;
}
#feature_wrapper {
	width:994px;
	margin-right:-10px;
}
.feature_bg,
.feature_top,
.feature_bottom {
	width:320px;
	float:left;
}
.feature_bg {
	background:url(images/feature_bg.jpg) repeat-y;
	margin:18px 10px 0px 0;
}
.feature_top {
	background:url(images/feature_top_bg.jpg) no-repeat left top;
}
.feature_bottom {
	background:url(images/feature_bottom_bg.jpg) no-repeat left bottom;
}
.feature h2,
.feature span.heading {
	font-size:18px;
	font-weight:bold;
	padding-bottom:6px;
	color:#50b849;
	display:block;
}
.feature p,
.feature span.text {
	width:155px;
	color:#717171;
	font-size:13px;
	line-height:18px;
	padding-bottom:15px;
	display:block;
}
.feature  small {
	color:#e85c17;
	font-size:14px;
	padding-right:10px;
	background:url(images/homelink_arrow.jpg) no-repeat right 6px;
	display:inline-block;
}
/*----------------------*/
/*     Content          */
/*----------------------*/
#content_area {
	width:100%;
	padding-top:20px;
}
#content {
	width:982px;
	margin:0 auto;
	padding:0 2px 0 2px;
	overflow:hidden;
}
.ltf_content {
	float:left;
	width:650px;
}
.ltf_content h2, .widget_area h2, .widget_area h1 {
	height:43px;
	font-weight:normal;
	font-size:16px;
	color:#fff;
	line-height:43px;
	padding-left:20px;
}
.ltf_content h2 strong span {
	color:#37b24a;
}
.ltf_content p {
	color:#717171;
	font-size:13px;
	line-height:20px;
	padding:25px 20px 0 20px;
}
.widget_area {
	float:right;
	width:320px;
}
.widget {
	width:280px;
	padding:10px 0 0 20px;
	overflow:hidden;
}
.widget_post {
	padding:15px 0;
	width:280px;
	overflow:hidden;
	border-top:1px solid #e6e6e6;
}
.post_child,
.widget_post:first-child {
	border-top:none;
}
.widget_post img {
	float:left;
	padding-right:16px;
}
.widget_post h3 {
	padding-top:4px;
	font-size:16px;
	line-height:19px;
	color:#47b74b;
	font-weight:normal;
}
.widget_post h3 a {
	color:#47b74b;
}
/*----------------------*/
/*     Footer           */
/*----------------------*/
#footer_area {
	width:100%;
	padding-top:31px;
	overflow:hidden;
}
#footer {
	width:986px;
	margin:0 auto;
	padding-bottom:22px;
}
#nav {
	width:980px;
	height:36px;
	border-bottom:5px solid #454243;
	margin:0 3px;
}
#nav ul {
	width:980px;
}
#nav ul li {
	float:left;
	padding:0 21px 0 18px;
	/* background:url(images/nav_bar.jpg) no-repeat; */
	background:#f7f7f7;
}
#nav ul li:first-child {
	background:none;
}
#nav ul li a {
	color:#3e3e3e;
	font-size:13px;
}
#nav ul li a:hover {
	color:#47b74b;
}
/*----------------------*/
/*     Inner page       */
/*----------------------*/
.inner_wrapper {
	background:url(images/inner_background_header.png) no-repeat center top !important;
}
.breadcrumb {
	width:986px;
	color:#fff;
	font-size:13px;
	font-weight: normal;
	float:left;
	position:absolute;
	z-index:999;
	top:164px;
	left:20px;
}
.breadcrumb div{
	display:inline;
}
.breadcrumb span {
	color:#000;
}
.breadcrumb a, .breadcrumb a span {
	color:#fff;
	text-decoration:underline;
}
.breadcrumb a:hover {
	color:#fff;
}
#inner_content_area {
	width:100%;
	padding-top:25px;
}
#inner_content_wrapper {
	width:980px;
	margin:0 auto;
	position:relative;
}
#inner_content_wrapper h1 {
	width:643px;
	padding:19px 0 0 22px;
	font-size:28px;
	color:#47b74b;
	height:35px;
	position: relative;
	font-weight:normal;
	z-index:1000;
}
.block_ratingsbtmcontent h1, .bank-entry h1{
	padding:0 0 20px 0;
	font-size:28px;
	color:#47b74b;
	height:35px;
	font-weight:normal;
}
#inner_content {
	width:980px;
	background:#ebebeb;
	height: auto;
	overflow:hidden;
}
.inner_ltf_content {
	float:left;
	width:601px;
	padding:28px 42px 0 22px;
	background:#fff;
	min-height:500px;
	position:relative;
}
.inner_ltf_content h2,
.inner_ltf_content h3,
.inner_ltf_content h4,
.inner_ltf_content h5,
.inner_ltf_content h6 {
	font-size:18px;
	color:#47B74B;
	font-weight:normal;
	padding-bottom:8px;
}
.inner_ltf_content h2 { font-size:20px }
.inner_ltf_content h4 { font-size:17px }
.inner_ltf_content h5 { font-size:16px }
.inner_ltf_content h6 { font-size:15px }
.inner_ltf_content p { font-size:13px; color:#717171; padding-bottom:20px; line-height:18px; }

.inner_ltf_content ul,
.inner_ltf_content ol {
	padding-bottom:23px;
}
.inner_ltf_content ul li {
	color:#717171;
	font-size:13px;
	padding:0 0 3px 13px;
	background:url(images/left_li_arrow.jpg) no-repeat left 4px;
}
.inner_ltf_content ol { padding-left:20px }
.inner_ltf_content ol li {
	color:#717171;
	font-size:13px;
	padding:0 0 3px 0px;
	list-style:decimal;
}
.inner_ltf_content a {
	color:#E85C17;
}
.inner_ltf_content ul li a:hover {
	text-decoration:underline;
}
#inner_widget_area {
	float:right;
	width:315px;
	overflow:hidden;
}
.inner_widget {
	width:315px;
	border:none;
	clear:both;
	padding-bottom:25px;
	font-size:13px;
	color:#717171;
}
.inner_widget p { padding: 10px 10px 20px 10px; line-height:18px }
#inner_widget_area .inner_widget h2 {
	width:100%;
	height:43px;
	font-weight:normal;
	font-size:16px;
	color:#fff;
	line-height:43px;
	padding:0 0 0 20px;
}
.inner_widget ul {
	width:315px;
}
.inner_widget ul li {
	width:315px;
	font-size:13px;
	color:#717171;
}
/*.inner_widget ul li:hover {
	background:#dddddd;
	color:#000;
}
*/
.inner_widget ul li a {
	background: url(images/rgt_nav_line.jpg) repeat-x left bottom;
	color:#717171;
	display:block;
	padding:18px 0 18px 20px;
}
.inner_widget ul li a:hover {
	background:#dddddd;
	color:#000;
}









.aligncenter, img.aligncenter {
	clear: both;
	display: block;
	margin:0 auto;
	margin-bottom:15px;
}
.alignright {
	margin: 4px 0px 15px 25px;
	display: inline;
}
.alignleft {
	margin: 4px 25px 15px 0px;
	display: inline;
}
.alignright { float: right; }
.alignleft { float: left; }
.wp-caption {
	border: none;
	text-align: center;
	background:#f5f5f5;
	padding:0;
	margin-bottom:10px;
	margin-top:10px;
	padding:5px 0 10px 0;
}
.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0;
	margin-bottom:12px;
}
.wp-caption p.wp-caption-text {
	font-size:14px;
	line-height:22px;
	padding:0 15px;
	display:block;
	font-style:italic;
	color:#7f7f7f;
}
/* End Images */
.center{ text-align:center }
.clear { clear:both }

#pagination { clear:both; padding:20px; background:url(images/widget_linebg.png) repeat-x; margin-top:20px; text-align:right }
#pagination ,
#pagination a {
	font-size:12px;
	color:#717171;
}
#pagination a { border:1px solid #717171  }
#pagination a:hover,
#pagination .current{ color:#E85C17; border:1px solid #E85C17 }

#pagination span { border:0; background:none }

.wpcf7-not-valid-tip {
	font-size:10px!important;
	color:#555555;
	line-height:14px;
	width:150px!important;
}

.post { padding-bottom:20px; clear:both }

#inner-wrapper{
	width:980px;
	margin:0 auto;
	}
.insurance-topcontent{
	width:980px;
	margin-top:-15px;
	}
.text-content{
	width:608px;
	padding-left:20px;
	float:left;
	}
.insurance-topcontent h2, .insurance-topcontent h1{
	color:#fff;
	font-size:26px;
	padding-bottom:15px;
	}
.insurance-topcontent h6{
	color:#fff;
	font-size:14px;
	padding-bottom:15px;
	}
.text-content .inner-list li {
	color:#fff;
	font-size:14px;
	padding:0 0 3px 13px;
	background:url(images/list2_bg.png) no-repeat left 5px;
	line-height:18px;
}
.insurance-topcontent p{
	color:#fff;
	font-size:14px;
	line-height:18px;
	padding-bottom:12px;
	}
.insurance-topcontent img{
	display:block;
	float:left;
	height:225px;
	width:302px;
	}
.phone-topcontent img{
	height:230px;
	width:160px;
	}
.selec-field{
	width:980px;
	}
.selec-field label{
	color:#fff;
	font-size:16px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	display:block;
	}
.selec-field .rowElem{
	float:left;
	padding:0;
	}
.selec-field .rowElem1{
	margin-right:30px;
	}
.selec-field select{
	width:264px;
	height:38px;
	}
.clear{
	clear:both;
	}
#insurance-outerwrap{
	width:100%;
	padding:20px 0 40px 0;
	background:#ededed url(images/bottom_bg.jpg) repeat-x left bottom;
	}
#insurance-wrap{
	width:979px;/*1007px;*/
	height:588px;/*616px;*/
	padding:14px;
	margin:0 auto;
	background:url(images/insurance-bg.png) no-repeat;
}
.insurance-wrap-2{
	background:url(images/insurance-bg-2.png) no-repeat!important;
}
.insurancebox_content{
	width:979px;
	height:588px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333333;
	font-size:12px;
	}
.first_column{
	width:187px;
	float:left;
	}
.first_collist{
	width:187px;
	padding-top:108px;
	}
.first_collist li{
	height:35px;
	padding:0 10px 0 31px;
	position:relative;
	}
.first_collist li.bigspace{
	height:40px;
	}
.first_collist li a{
	width:16px;
	height:16px;
	position:absolute;
	left:8px;
	top:0px;
	}
.first_collist li a img{
	margin-top:10px;
	}
.second_column{
	width:158px;
	float:left;
	position:relative;
	}
.header_title{
	width:98%;
	height:98px;
	padding:10px 1% 0 1%;
	text-align:center;
	}
.header_title h2{
	color:#fff;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	}
.first_column{
	width:187px;
	float:left;
	}
.first_collist{
	width:187px;
	padding-top:108px;
	}
.first_collist li{
	height:35px;
	padding:0 10px 0 31px;
	position:relative;
	}
.first_collist li.bigspace{
	height:40px;
	}
.second_column ul li small{
	text-align:center;
	font-size:12px;
	}
.second_column ul li .vmid{
	display:table-cell;
	vertical-align:middle;
	height:36px;
	width:150px;
	text-align:center;
	}
.first_column ul li .vmid{
	display:table-cell;
	vertical-align:middle;
	height:35px;
	width:150px;
	text-align:left;
	line-height:9px;
	}
.second_column ul li .vmid span,
.first_column ul li .vmid span{
	text-align:center;
    display: block;
    font-size: 11px;
}
.second_column ul li .vmid strong,
.first_column ul li .vmid strong{
	font-size:13px;
	}

.second_column ul li .vmid *,
.first_column ul li .vmid * {
vertical-align: middle;
}
.first_column ul li small{
	text-align:center;
	font-size:12px;
	line-height:12px;
	}
.insurance_button{
	width:100%;
	height:60px;
	padding:21px 0 0 16px;
	}
.bestvaluebtn{
	height:68px;
	padding:29px 0 0 16px;
	}
.btn_lesstpad{
	padding-top:12px!important;
}
.btn_ins_lesstpad{
	padding-top:3px!important;
}
.bestvalue-box{
	width:166px;
	height:633px;
	padding:15px 17px 0 0;
	position:absolute;
	top:-15px;
	left:-5px;
	background:url(images/bestvalueboxbg.png) no-repeat;
	}
.bestvalue-box-blue{
	width:166px;
	height:633px;
	padding:15px 17px 0 0;
	position:absolute;
	top:-15px;
	left:-5px;
	background:url(images/bestvalueboxbg-blue.png) no-repeat;
	}
.blue-10per{
	background:url(images/bestvalueboxbg-blue-10per.png) no-repeat;
	}
.insurance-btmcontent{
	width:979px;
	padding:30px 14px 0 14px;
	margin:0 auto;
}
.insurance-entry{
	width:979px;
}
.insurance-entry h2{
}
.insurance-entry p{
	font-size:13px; 
	color:#717171; 
	padding-bottom:10px; 
	line-height:18px;
}
.insurance-entry strong{
	font-size:13px; 
	color:#717171; 
	line-height:18px;
}
.insurance-entry h2,
.insurance-entry h3,
.insurance-entry h4,
.insurance-entry h5,
.insurance-entry h6 {
	font-size:18px;
	color:#47B74B;
	font-weight:normal;
	padding-bottom:10px;
}
.insurance-entry h2{
	font-size:22px;
}
.insurance-entry h3{
	font-size:20px;
}
.insurance-entry h4{
	font-size:18px;
}
.insurance-entry h5{
	font-size:16px;
}
.insurance-entry h6{
	font-size:14px;
}
.insurance-entry ul,
.insurance-entry ol {
	padding-bottom:15px;
}
.insurance-entry ul li {
	color:#717171;
	font-size:13px;
	padding:0 0 3px 13px;
	background:url(images/left_li_arrow.jpg) no-repeat left 4px;
}
.insurance-entry ol { padding-left:20px }
.insurance-entry ol li {
	color:#717171;
	font-size:13px;
	padding:0 0 3px 0px;
	list-style:decimal;
}
.insurance-entry a {
	color:#E85C17;
}
.insurance-entry ul li a:hover {
	text-decoration:underline;
}
.bank-btmcontent{
	width:982px;
	margin:0 auto 15px;
	padding:0 13px;
	}
.bankbox_bg,
.bankbox_topbg,
.bankbox_btmbg{
	width:982px;
	display:block;
	}
.bankbox_bg{
	background:url(images/bankbox_bg.jpg) repeat-y;
	}
.bankbox_topbg{
	background:url(images/bankbox_topbg.jpg) no-repeat left top;
	}
.bankbox_btmbg{
	background:url(images/bankbox_btmbg.jpg) no-repeat left bottom;
	}
.bank-entry{
	padding:22px;
	}
.bank-entry h2{
	font-size:22px;
	color:#47b74b;
	margin-bottom:12px;
	}
.bank-entry h3{
	font-size:18px;
	color:#47b74b;
	margin-bottom:12px;
	}
.bank-entry p{
	font-size:14px;
	color:#313131;
	line-height:18px;
	padding-bottom:12px;
	}
.bank-entry ul{
	width:auto;
	margin:0 0 12px 35px;
	}
.bank-entry ul li{
	background:url(images/list3_bg.jpg) no-repeat left 5px;
	font-size:14px;
	color:#313131;
	line-height:18px;
	padding-left:16px;
	}
#bankrating-wrap{
	width:979px;/*1007px;*/
	height:433px;/*616px;*/
	padding:14px;
	margin:0 auto;
	background:url(images/bank-ratingbg.png) no-repeat;
	}
#bankrating-wrap .bbigspace{
	height:52px;
	}
#bankrating-wrap .insurancebox_content{
	height:433px!important;
	}
strong.price a{
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
	color: #0033CC;
}
.bigtext small{
	font-size:12px!important;
	}
#agent-wrap{
	width:979px;
	height:745px;
	padding:14px;
	margin:0 auto;
	background: url(images/agent-bg.png) no-repeat;
	}
#trabel-wrap{
	width:979px;
	height:567px;
	padding:14px;
	margin:0 auto;
	background: url(images/travel-bg.png) no-repeat;
	}
#bankrating-wrap .bbigspace{
	height:52px;
	}
#bankrating-wrap .insurancebox_content{
	height:433px!important;
	}
	
	
	
.tvmid{
	height:31px;
	width:150px;
	}	
.travel_h_title{
	width:98%;
	height:78px;
	padding:30px 1% 0 1%;
	text-align:center;
	}
.bigspace2{
	height:42px!important;
	padding-top:10px!important;
	line-height:16px!important;
	}
.second_column ul .smalltext strong{
	font-size:11px!important;
	}
/*---------------------------*/
/*       Internet            */	
/*---------------------------*/
#internet-wrap{
	width:979px;
	height:441px;
	padding:14px;
	margin:0 auto;
	background: url(images/internet_boxbg.png) no-repeat;
	}
.internet_title{
	width:98%;
	height:88px;
	padding:20px 1% 0 1%;
	text-align:center;
	}
.first_internet_title{
	width:98%;
	height:63px;
	padding:45px 1% 0 1%;
	text-align:center;
	}
.topspace_first_collist{
	width:187px;
	padding-top:0!important;
	}
.bigspace3{
	height:62px!important;
	}
.imglft{
	float:left;
	margin-right:1px;
	}
.ivmid{
	height:54px;
	padding-top:8px;
	text-align:center;
	}
/*---------------------------*/
/*          Phone            */	
/*---------------------------*/
#phone-wrap{
	width:979px;
	height:552px;
	padding:14px;
	margin:0 auto;
	background: url(images/internet_phone_boxbg.png) no-repeat;
	}
.bigspace4{
	height:54px!important;
	}
.pvmid{
	height:54px!important;
	line-height:54px;
	text-align:center;
	}
.lpvmid{
	height:54px!important;
	line-height:54px!important;
	text-align:left;
	}
.lpvmid small{
	line-height:54px!important;
	}
/*---------------------------*/
/*      Internet Phone      */	
/*--------------------------*/
#banner-ip{
	width:986px;
	margin:0 auto;
	background: url(images/banner_bar.jpg) no-repeat 486px 106px; /* From PNG to JPG */
	height:278px;
	padding-top:20px;
	overflow:hidden;
	}
#banner-ip h2, #banner-ip h1 {
	font-size:24px;
	color:#fff;
	font-weight:bold;
	padding:0 0 15px 23px;
}
#ltf_banner-ip {
	float:left;
	width:463px;
	height:278px;
	padding-left:23px;
	overflow:hidden;
}
#ltf_banner-ip h2 {
	font-size:28px;
	color:#fff;
	font-weight:bold;
	padding-bottom:29px;
}
#ltf_banner-ip h3{
	font-size:22px;
	color:#fff;
	font-weight:bold;
	padding-bottom:14px;
	}
#ltf_banner-ip p{
	color:#fff;
	font-size:16px;
	line-height:18px;
	padding-bottom:20px;
	}
#ltf_banner ul {
	display:block;
	padding-bottom:9px;
}
#ltf_banner ul li {
	display:block;
	font-size:15px;
	padding-left:11px ;
	margin-bottom:10px;
	background:url(images/list_bg.png) no-repeat left center;
}
#ltf_banner ul li small {
	font-size:15px;
	font-weight:bold;
}
#ltf_banner span {
	background:url(images/btn_check_list.jpg) repeat-x;
	display:inline-block;
	height:46px;
	line-height:46px;	
	padding:0 16px 0 19px;
}
#ltf_banner strong {
	display:block;
	background:url(images/btn_arrow_bg.png) no-repeat right center;
	color:#fff;
	font-size:19px;
	font-weight:normal;
	padding-right:38px;
	cursor:pointer;
}
#ltf_banner ul li a {
	color:#fff;
}
#rgt_banner-ip {
	width:472px;
	height:278px;
	float:right;
	padding-left:14px;
}
#rgt_banner-ip h2 {
	font-size:28px;
	color:#fff;
	font-weight:bold;
	padding-bottom:29px;
}
#rgt_banner-ip h3{
	font-size:22px;
	color:#fff;
	font-weight:bold;
	padding-bottom:14px;
	}
#rgt_banner-ip p{
	color:#fff;
	font-size:16px;
	line-height:18px;
	padding-bottom:20px;
	}
#rgt_banner ul {
	display:block;
	padding-bottom:9px;
}
#rgt_banner ul li {
	display:block;
	font-size:15px;
	padding-left:11px ;
	margin-bottom:10px;
	background:url(images/list_bg.png) no-repeat left center;
}
#rgt_banner span {
	background:url(images/btn_compare_plan.jpg) repeat-x;
	display: inline-block;
	height:46px;
	line-height:46px;	
	padding:0 16px 0 19px;
}
#rgt_banner strong {
	display:block;
	background: url(images/btn_arrow_red_bg.png) no-repeat right center;
	color:#fff;
	font-size:19px;
	font-weight:normal;
	padding-right:38px;
	cursor:pointer;
}
#rgt_banner ul li a {
	color:#fff;
}
#banner-ip .button{
	width:83px;
	height:31px;
	display:block;
	background:url(images/ipbutton.png) no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	line-height:28px;
	color:#fff;
	padding:0 35px 0 15px;
	font-weight:bold;
	}
#rgt_banner-ip .button{
	margin-top:60px;
	}
#ltf_banner-ip .button{
	margin-top:78px;
	}


.ipfeature_bg,
.ipfeature_top,
.ipfeature_bottom {
	width:652px!important;
	float:left;
}
.ipfeature_bg {
	background:url(images/ipbg.jpg) repeat-y;
	margin:18px 10px 0px 0;
}
.ipfeature_top {
	background:url(images/ipbg_top.jpg) no-repeat left top;
}
.ipfeature_bottom {
	background:url(images/ipbg_btm.jpg) no-repeat left bottom;
}
.ipfeature {
	width:632px!important;
	padding:17px 15px;
}
#testimonials{
	width:632px;
	position:relative;
	}
#testimonials blockquote{
	color:#717171;
	font-size:13px;
	line-height:18px;
	padding:0 45px 0 0;
	background:url(images/rgtquote.jpg) no-repeat 97% bottom;
	}
#testimonials blockquote p{
	width:90%!important;
	padding-left:45px;
	background:url(images/leftquote.jpg) no-repeat;
	}	
	
.testtimonial_arrowholder{
	width:40px;
	height:16px;
	position:absolute;
	top:4px;
	right:20px;
	z-index:100;
	}
.next{
	width:16px;
	height:16px;
	float:right;
	}
.next a{
	width:16px;
	height:16px;
	display:block;
	background:url(images/next.jpg) no-repeat!important;
	}
.prev{
	width:16px;
	height:16px;
	float:left;
	}
.prev a{
	width:16px;
	height:16px;
	background:url(images/prev.jpg) no-repeat!important;
	display:block;
	}

#banner-ip img{
	float:right;
	margin:0!important;
	padding:0!important;
	}
	


.header_title strong{
	font-size:16px;
	color:#fff;
	}
.first_column .header_title strong{
	font-size:16px;
	color:#000!important;
	}
.first_collist .smallt strong,
.first_collist .smallt small{
	font-size:11px!important;
	}
.insurance_button strong{
	display:block;
	margin-left:30px;
	}
.bestvaluebtn strong{
	margin:-10px 0 0 25px;
	}
.exbbutton strong,
.exbutton strong{
	margin-bottom:4px;
	}
.exbbutton{
	padding-top:15px;
	}
.exbutton{
	padding-top:5px;
	}	
.migration-agents{
	background:url(images/banner_ltf_bg.png) no-repeat right bottom;
	min-height:230px;
	}
/*
.migration-agents-img{
	background:url(images/migration_lawyers.png) no-repeat right bottom;
	min-height:230px;
	}
*/
.checklist_wrap{
	width:982px;
	margin:0 auto;
	position:relative;
	}
.checklist_topimg{
	width:413px;
	height:157px;
	position:absolute;
	left:304px;
	top:-62px;
	}
.checklist_bg,
.checklist_top,
.checklist_btm{
	width:982px;
	display:block;
	}
.checklist_bg{
	background:url(images/checklist-bg.jpg) repeat-y;
	}
.checklist_top{
	background:url(images/cheecklist_topbg.png) no-repeat;
	}
.checklist_btm{
	background:url(images/checklist_btm.jpg) no-repeat left bottom;
	}
.checklist_maincontent{
	padding:40px 13px 13px 13px;
	}
.checklist_content{
	padding:70px 10px 40px 71px;
	background:url(images/checklistpen_bg.jpg) no-repeat right 72px; /* From PNG to JPG */
	}
.checklist_content h2{
	color:#47b74b;
	font-size:18px;
	margin-bottom:15px;
	}
.checklist_content a{
	color:#47b74b;
	}
.checklist_content strong{
	font-size:14px;
	color:#525252;
	display:block;
	margin-bottom:4px;
	}
.checklist_content ul{
	margin-bottom:50px;
	}
.checklist_content ul li{
	color:#525252;
	padding:4px 0 0 0;
	font-size:14px;
	line-height:20px;
	}
.input_check{
	float:left;
	}
/*---------------------------*/
/*      About us             */	
/*---------------------------*/
#about_content_wrapper {
	width:984px;
	margin:0 auto;
	}
.top_about_box,
.btm_about_box,
.about_box_bg {
	width:984px;
	}
.top_about_box {
	background:url(images/top_about_bg.png) no-repeat;
	padding-top:9px;
	}
.btm_about_box {
	background:url(images/btm_about_bg.png) no-repeat left bottom;
	padding-bottom:11px;
	}
.about_box_bg {
	background:url(images/about_bg.png) repeat-y;
	padding-bottom:13px;
	}
.about_con {
	width:946px;
	padding:13px 0 0 0;
	margin:0 18px;
	position:relative;
	border-bottom:1px solid #a09fa0;
	}
.about_con_text {
	width:517px;
	padding-bottom:30px;
	}
.about_con_text h2, .about_con_text h1 {
	font-size:18px;
	color:#47b74b;
	margin-bottom:12px;
	}
.about_con_text p {
	font-size:14px;
	color:#313131;
	line-height:18px;
	padding-bottom:12px;
	}
.about_top_bg {
	position:absolute;
	top:-9px;
	right:-18px;
	}
.about_feature_area {
	width:972px;
	margin:21px -34px 0 0;
	overflow:hidden;
	padding-left:18px;
	}
.about_feature_area h2 {
	font-size:18px;
	color:#47b74b;
	padding-bottom:23px;
	}
.about_feature {
	width:290px;
	float:left;
	margin-right:34px;
	}
about_feature img {
	display:block;
}
.about_feature h3 {
	font-size:16px;
	color:#313131;
	padding-top:10px;
	}
.about_feature em {
	font-size:15px;
	color:#6a6a6a;
	padding-bottom:18px;
	display:block;
	}
.about_feature p {
	font-size:15px;
	line-height:18px;
	color:#313131;
	padding-bottom:18px;
	}


.bank_account {
	background:url(/wp-content/themes/457visa/images/bank_account.jpg) no-repeat right top;
}

.travel_insurance {
	background:url(/wp-content/themes/457visa/images/travel_insurance.jpg) no-repeat right top;
}

.telephone_internet {
	background:url(/wp-content/themes/457visa/images/telephone_internet.jpg) no-repeat right top;
}


.migration_lawyers {
	background:url(/wp-content/themes/457visa/images/migration_lawyers.jpg) no-repeat right top;
}


.currency_exchange {
	background:url(/wp-content/themes/457visa/images/currency_exchange.jpg) no-repeat right top;
}

.international_movers {
	background:url(/wp-content/themes/457visa/images/international_movers.jpg) no-repeat right top;
}

.instructions{
	width:979px;
	padding:30px 14px 0 14px;
	margin:0 auto;
	overflow:hidden;
	}
.instructions_inner{
	width:967px;
	overflow:hidden;
	border:1px solid #43B147;
	padding:10px 0 10px 10px;
	}
.instructions h4{
	font-size:14px;
	line-height:18px;
	font-weight:normal;
	margin-bottom:20px;
	}
.instructions_one{
	float:left;
	width:300px;
	padding-right:14px;
	}
.instructions_one img{
	float:left;
	margin:0 20px 20px 0;
	}
.sharethis_home{
	padding:10px 10px 10px 17px;
	}
.sharethis{
	padding:10px 0;
	}
/*---------------------------*/
/*           Movers          */	
/*--------------------------*/
#movers-wrap{
	width:979px;
	height:431px;
	padding:14px;
	margin:0 auto;
	background: url(images/movers_boxbg.png) no-repeat;
	}
.movers_bigspace{
	height:48px;
	padding-top:4px;
	}
.movers_bigspace img{
	margin-bottom:2px;
	}
.topup{
	margin-top:-12px;
	}
.topdown{
	margin-top:12px;
	}
/*---------------------------*/
/*        Currency          */	
/*--------------------------*/
#currency-wrap{
	width:979px;
	height:392px;
	padding:14px;
	margin:0 auto;
	background: url(images/currency_boxbg.png) no-repeat;
	}
.currencybg{
	background: url(images/currency_exchange_topimg.png) no-repeat right bottom;
	min-height:230px;
	}

.btnlarge{
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px 5px 5px 5px;
    font-family: Arial;
    font-weight: 700;
    white-space: nowrap;
    color: rgb(255, 255, 255);
	padding: 10px 30px 10px 30px;
	font-size: 18px;
	line-height: 25px;
	background-color: rgb(135, 189, 22);
	background-image: linear-gradient(to bottom, rgb(156, 204, 10), rgb(104, 166, 41));
	background-repeat: repeat-x;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	margin-bottom: 0px;
}
.change_comment {
	margin-top:150px;
	height: auto;
}
.change_comment1 {
	margin-top:80px;
	padding-left:10px;
}
.icon_map {
	width:80px;
	margin:0 0 5px 25px;
	display:block;
}


/*-------------------*/
/*   add code        */
/*-------------------*/
.tinynav { display: none!important; }




.feature_post {
	width:314px;
	float:left;
	display:block;
	margin:18px 9px 0px 0;
	background:#fff;
	border:2px solid #e1e1e1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position:relative;
    behavior:url(PIE.htc);
	padding-right:2px;
	height:150px;

}
.feature_post:hover {
	border-color:#47b74b;
}
.feature {
	padding:15px 111px 21px 17px;
	width:186px;
	display:block;
}
.show_details {
	overflow:hidden;
	padding-left:17px;
	display:none;
	position:absolute;
	left:0;
	bottom:10px;
	z-index:10;
	width:303px!important;
}
.feature_post:hover .show_details {
	display:block;
}

.show_details a {
	display:block;
	float:left;
	height:34px;
	font-family:Verdana, Geneva, sans-serif;
}

.show_details a span {
	display:block;
	float:left;
	cursor:pointer;
	height:34px;
}
.retrieve {
	background:url(images/btn2_left.png) no-repeat;
	padding-left:10px;
}
.retrieve span {
	background:url(images/btn2_rgt.png) no-repeat right top;
	padding-right:25px;
}
.retrieve span span {
	background:url(images/btn2_bg.png) repeat-x;
	font-size:12px;
	color:#fff;
	line-height:28px;
	padding:0;
	padding-right:5px;
}
.getquotes {
	background:url(images/btn_left.png) no-repeat;
	padding-left:17px;
	margin-right:10px;
}
.getquotes span {
	background:url(images/btn_rgt.png) no-repeat right top;
	padding-right:36px;
}
.getquotes span span {
	background:url(images/btn_bg.png) repeat-x;
	font-size:12px;
	color:#fff;
	line-height:28px;
	padding:0;
	padding-right:5px;
}
.show_details a:hover {
	background-position:0 -34px;
}
.show_details a:hover span,
.show_details a:hover span span {
	background-position:100% -34px;
}
div.adspeed{
	position:absolute;left:0px;top:0px;visibility:hidden;
}
img.sticker{
	position: absolute; top: -50px; left: 35px;
}

#inner_widget_area .inner_widget span.widget_title {
	width:100%;
	height:43px;
	font-weight:normal;
	font-size:16px;
	color:#fff;
	line-height:43px;
	padding:0 0 0 20px;
	display:block;
}




/*-------------------*/

/*   custom          */

/*-------------------*/

.container{ width: 100%; }

.top_content_box_container{ padding-top: 10px; }

.center_content{ margin: 0 auto; }

.top_box_center{

	max-width: 980px;

	background: #fff;

	-webkit-border-radius: 6px;

	-moz-border-radius: 6px;

	-o-border-radius: 6px;

	-ms-border-radius: 6px;

	border-radius: 6px;

	border-left: 1px solid #d9d9d9;

	border-bottom: 2px solid #d9d9d9;
}

.top_content_box{

	margin: 0 18px;

	margin-bottom: 10px;

	padding-bottom: 20px;

	padding-top: 15px;

    max-width: 600px;

}

.top_content_box p{

	color: #313131;

    font-size: 14px;

    line-height: 18px;

    padding-bottom: 12px;

}

.bottom_content_box .about_feature_area {

	margin-top: 0;

}
.bottom_content_box.bank-entry{
	padding: 0;
	width: inherit !important;
}
.bottom_content_box.bank-entry h1{ height: inherit; }
.top_content_img{ float: right;}
.content_right_img {
	margin-right: 20px;
    position: relative;
    z-index: 100;
    margin-top: -88px;
}
.content_right_img_inn {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 0 5px 2px #dfdfdf;
    padding: 6px;
    margin-left: 15px;
}
.content_right_main_inn {
    box-shadow: 0 0 5px 2px #ededed inset;
    padding: 20px;
    max-width: 320px;
}
.bottom_content_box .about_feature_area{ overflow: visible;}
.clearfix{ clear: both;}